<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/modificarTractores.css">
    <title>Modificar Tractor</title>
</head>
<body>
    <main>

        <header>
            <h2>Modificar Tracores</h2>
        </header>

        <section>
            <form action="/actualizarHerramienta" method="post" enctype="multipart/form-data">

                <label for="id_Consumible">Identificador</label>
                <input type="text" name="id_Consumible" id="id_Consumible" readonly value="{{Consu[0]}}">

                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" id="nombre" value="{{Consu['1']}}" >

                <label for="id_categoria">Categoria:</label>
                <select name="id_categoria" id="id_categoria">
                    <option value="">--Seleccione--</option>
                    {% for categoria in categorias %}
                    <option value="{{ categoria[0] }}" {% if categoria[0] == Consu[2] %}selected{% endif %}>{{ categoria[1] }}</option>
                    {% endfor %}
                </select>

                <label for="cantidad">Cantidad:</label>
                <input type="number" name="cantidad" id="cantidad" required value="{{Consu[6]}}">

                <label for="activo">Activo:</label>
                <select name="activo" id="activo" required>
                    <option value="1">Si</option>
                    <option value="0">No</option>
                </select> 

                <button type="submit">Guardar</button>
                <a href="/consultarConsumibles">Cancelar</a>

            </form>
        </section>

    </main>
</body>
</html>