<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/css/tractoresUsu.css">
    <link rel="shortcut icon" href="../../../static/img/logoSena.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.lineicons.com/4.0/lineicons.css"/>
    <link rel="stylesheet" href="../../../static/css/header.css">
    <script src="../../../static/js/menu.js"></script>
    <title>Inicio</title>
</head>
<body>
    
<header id="header">

    <figure>
        <img src="../../../static/img/LogoSenaSinFondo.png" alt="Logo Sena" id="logo_sena">
    </figure>

    <button id="cont-disparador">
        <i class="lni lni-menu" id="disparador"></i>
    </button>

    <div id="menu_cont">

        <button id="cont-close">
            <i class="lni lni-close" id="close"></i>
        </button>

        <div class="menu">
            <ul class="interior" id="menu_ppal">

                <li class="interior">
                    <a href="#"  class="btn-n01" id="btn_usuarios">Usuarios</a>
                    <ul id="menu_usuarios" class="menu-n02">
                        <li><a href="/usuarios" class="btn-n02">Personas registradas</a></li>
                        <li><a href="/aceptarUsuarios" class="btn-n02">Aceptar usuarios</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#"  class="btn-n01" id="btn_tractores">Tractores</a>
                    <ul id="menu_tractores" class="menu-n02">
                        <li><a href="/consultarTractores" class="btn-n02">Todos los tractores</a></li>
                        <li><a href="/tractores" class="btn-n02">Tractores disponibles</a></li>
                        <li><a href="/agregarTractor" class="btn-n02">Agregar tractor</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#"  class="btn-n01" id="btn_herramienta">Herramientas</a>
                    <ul id="menu_herramienta" class="menu-n02">
                        <li><a href="/consultarlasHerramientas" class="btn-n02">Todas las herramientas</a></li>
                        <li><a href="/consultarHerramientas" class="btn-n02">Herramientas disponibles</a></li>
                        <li><a href="/agregarHerramienta" class="btn-n02">Agregar herramienta</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#"  class="btn-n01" id="btn_insumo">Insumos</a>
                    <ul id="menu_insumo" class="menu-n02">
                        <li><a href="/consultarlosConsumibles" class="btn-n02">Todos los insumos</a></li>
                        <li><a href="/consultarConsumibles" class="btn-n02">Insumos disponibles</a></li>
                        <li><a href="/agregarConsumibles" class="btn-n02">Agregar insumos</a></li>

                        <li>
                            <a href="#"  class="btn-n01" id="btn_liquido">Liquidos</a>
                            <ul id="menu_liquidos" class="menu-n03">
                                <li><a href="/consultarlosLiquidos" class="btn-n03">Todos los liquidos</a></li>
                                <li><a href="/consultarLiquidos" class="btn-n03">Liquidos disponibles</a></li>
                                <li><a href="/agregarLiquidos" class="btn-n03">Agregar liquido</a></li>
                            </ul>
                        </li>

                    </ul>
                </li>

                <li>
                    <a href="#"  class="btn-n01" id="btn_servicios">Servicios</a>
                    <ul id="menu_servicios" class="menu-n02">
                        <li><a href="/consultarTodosPedidos" class="btn-n02">Todos los pedidos</a></li>
                        <li><a href="/consultarSolicitados" class="btn-n02">Solicitudes</a></li>
                        <li><a href="/consultarAceptado" class="btn-n02">Por entregar</a></li>
                        <li><a href="/consultarprestados" class="btn-n02">Prestados</a></li>
                        <li><a href="/consultarDevueltos" class="btn-n02">Devueltos</a></li>
                        <li><a href="/consultarRechazados" class="btn-n02">Rechazados</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#"  class="btn-n01" id="btn_categoria">Categorias</a>
                    <ul id="menu_categorias" class="menu-n02">
                        <li><a href="/consultarCategorias" class="btn-n02">Categorias registradas</a></li>
                        <li><a href="/agregarCategoria" class="btn-n02">Agregar categorias</a></li>
                    </ul>
                </li>

                <li><a href="/novedades" class="btn-n02">Novedades</a></li>
                <li><a href="/perfilPropio" class="btn-n02">Mi perfil</a></li>

                <li><a href="/graficos"  class="btn-n01">Graficos</a></li>
                <li><a href="/"  class="btn-n01">CERRAR SESIÓN</a></li>


            </ul>
        </div>


        
    </div>
</header>
    <section id="cont_mayor">
            <h2 id="titulo">Liquidos</h2>
        <div id="cont_paneles">
            {% for cons in res %}
                <article class="mosaico" id="reservas">
                    <figure class="img-thumbnail" >
                        <img src="../../../uploads/{{cons[5]}}" alt="{{cons[2]}}" id="img-bd">
                    </figure>
                    <div id="cont-i">
                        <h2>{{cons[2]}}</h2>
                    </div>
                    <div id="cont_bajo">
                        <div id="cont_h5">
                            <h5>Categoria: {{cons[1]}} </h5>
                            <h5>Cantidad: {{cons[3]}}</h5>
                        </div>
                        <div id="cont_link">
                            <div class="btnmosa">
                                <a onclick="return confirm('¿Desea editar este liquido?')"  href="editarLiquidos/{{cons[0]}}"><img src="../../../static/img/editar (1).png" alt="" class="img-icon"></a>
                            </div>
                            <div class="btnmosa">
                                <a onclick="return confirm('¿Desea elimnar este liquido?')"  href="borrarLiquidos/{{cons[0]}}"><img src="../../../static/img/basura.png" alt="" class="img-icon"></a>
                            </div>
                            <div class="btnmosa">
                                <a onclick="return confirm('¿Desea agregarle una novedad a este tractor?')"  href="agregarnovedad/{{cons[0]}}"><img src="../../../static/img/agregar (1).png" alt="" class="img-icon"></a>
                            </div>
                        </div>
                    </div>
                </article>
            {% endfor %}
            
            </div>
    </section>
</body>
</html>