<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/principalLider.css">
    <link rel="stylesheet" href="../../../static/css/principalLider.css">
    <link rel="shortcut icon" href="../../../static/img/logoSena.png" type="image/x-icon">
    <title>Prestamos</title>
</head>
<body>
    
    <header id="header">
        <figure>
            <img src="../../static/img/LogoSenaSinFondo.png" alt="" id="logo_sena">
        </figure>
        <button id="cont-disparador">
            <i class="lni lni-menu" id="disparador"></i>
        </button>
        <div id="menu_cont">
            <button id="cont-close">
                <i class="lni lni-close" id="close"></i>
            </button>
            <div class="menu">
                <ul class="interior">
                    <li>
                        <a href="#">Usuarios</a>
                        <ul id="menu_usuarios">
                            <li><a href="/usuarios" class="bton_usu">Personas registradas</a></li>
                            <li><a href="/aceptarUsuarios" class="bton_usu">Aceptar usuarios</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">Tractores</a>
                        <ul id="menu_tractores">
                            <li><a href="/consultarTractores" class="bton_trac">Todos los tractores</a></li>
                            <li><a href="/tractores" class="bton_trac">Tractores disponibles</a></li>
                            <li><a href="/agregarTractor" class="bton_trac">Agregar tractor</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">Herramientas</a>
                        <ul id="menu_herramienta">
                            <li><a href="/consultarlasHerramientas" class="bton_her">Todas las herramientas</a></li>
                            <li><a href="/consultarHerramientas" class="bton_her">Herramientas disponibles</a></li>
                            <li><a href="/agregarHerramienta" class="bton_her">Agregar herramienta</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">Insumos</a>
                        <ul id="menu_insumo">
                            <li><a href="/consultarlosConsumibles" class="bton_ins">Todos los insumos</a></li>
                            <li><a href="/consultarConsumibles" class="bton_ins">Insumos disponibles</a></li>
                            <li><a href="/agregarConsumibles" class="bton_ins">Agregar insumos</a></li>

                            <li>
                                <a href="#">Liquidos</a>
                                <ul id="menu_liquidos">
                                    <li><a href="/consultarlosLiquidos" class="bton_liq">Todos los liquidos</a></li>
                                    <li><a href="/consultarLiquidos" class="bton_liq">Liquidos disponibles</a></li>
                                    <li><a href="/agregarLiquidos" class="bton_liq">Agregar liquido</a></li>
                                </ul>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <a href="#">Servicios</a>
                        <ul id="menu_servicios">
                            <li><a href="/consultarTodosPedidos" class="bton_ser">Todos los pedidos</a></li>
                            <li><a href="/consultarSolicitados" class="bton_ser">Solicitudes</a></li>
                            <li><a href="/consultarAceptado" class="bton_ser">Por entregar</a></li>
                            <li><a href="/consultarprestados" class="bton_ser">Prestados</a></li>
                            <li><a href="/consultarDevueltos" class="bton_ser">Devueltos</a></li>
                            <li><a href="/consultarRechazados" class="bton_ser">Rechazados</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">Categorias</a>
                        <ul id="menu_categorias">
                            <li><a href="/consultarCategorias" class="bton_usu">Categorias registradas</a></li>
                            <li><a href="/agregarCategoria" class="bton_usu">Agregar categorias</a></li>
                        </ul>
                    </li>

                    <li><a href="/graficos">Graficos</a></li>
                    <li><a href="/">CERRAR SESIÓN</a></li>


                </ul>
            </div>
        </div>
    </header>

    <div id="prestamos">
        <h4>{{titulo}}</h4>
        
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Codigo sena</th>
                    <th>Labor </th>
                    <th>Quien lo pide</th>
                    <th>Ficha</th>    
                    <th>Fecha </th>
                    <th>Estado</th>

                </tr>
            </thead>
            <tbody>
            {% for prest in trac %}
            <tr>
                <th>{{prest[0]}} {{prest[1]}}</th>
                <th>{{prest[2]}}</th>
                <th>{{prest[3]}}</th>
                <th><a href="/perfil/{{ prest[4] }}">{{ prest[4] }}</a></th> 

                {% if prest[5] == '0' %}
                    <th>No hay</th>
                {% else %}
                    <th>{{prest[5]}}</th>
                {% endif %}


                <th>{{prest[6]}}</th>

                {% if prest[7] == 'S' %}
                    <th>Solicitado</th>
                {% elif prest[7] == 'A' %}
                    <th>Aceptado</th>
                {% elif prest[7] == 'P' %}
                    <th>Prestado</th>
                {% elif prest[7] == 'D' %}
                    <th>Devuelto</th>
                {% elif prest[7] == 'R' %}
                    <th>Rechazado</th>
                {% else %}
                    <th>NO ESTA</th>
                {% endif %}

                {% if prest[7] == 'S' %}
                    <th><a href="/aceptarPedido/{{prest[8]}}">Aceptar</a></th>
                    <th><a href="/rechazar/{{prest[8]}}">Rechazar</a></th>
                {% elif prest[7] == 'A' %}
                    <th><a href="/prestado/{{prest[8]}}">Entregar</a></th>
                {% elif prest[7] == 'P' %}
                    <th><a href="/devolver/{{prest[8]}}">Devolver</a></th>
                {% else %}
                    <th> </th>
                {% endif %}
            </tr>
            {% endfor %}

            {% for prest in her %}
            <tr>
                <th>{{prest[0]}}</th>
                <th>{{prest[1]}}</th>
                <th>{{prest[2]}}</th>
                <th><a href="/perfil/{{ prest[3] }}">{{ prest[3] }}</a></th> 

                {% if prest[4] == '0' %}
                    <th>No hay</th>
                {% else %}
                    <th>{{prest[4]}}</th>
                {% endif %}


                <th>{{prest[5]}}</th>

                {% if prest[6] == 'S' %}
                    <th>Solicitado</th>
                {% elif prest[6] == 'A' %}
                    <th>Aceptado</th>
                {% elif prest[6] == 'P' %}
                    <th>Prestado</th>
                {% elif prest[6] == 'D' %}
                    <th>Devuelto</th>
                {% elif prest[6] == 'R' %}
                    <th>Rechazado</th>
                {% else %}
                    <th>NO ESTA</th>
                {% endif %}

                {% if prest[6] == 'S' %}
                    <th><a href="/aceptarPedido/{{prest[7]}}">Aceptar</a></th>
                    <th><a href="/rechazar/{{prest[7]}}">Rechazar</a></th>
                {% elif prest[6] == 'A' %}
                    <th><a href="/prestado/{{prest[7]}}">Entregar</a></th>
                {% elif prest[6] == 'P' %}
                    <th><a href="/devolver/{{prest[7]}}">Devolver</a></th>
                {% else %}
                    <th> </th>
                {% endif %}
            </tr>
            {% endfor %}

            {% for prest in con %}
            <tr>
                <th>{{prest[0]}}</th>
                <th>{{prest[1]}}</th>
                <th>{{prest[2]}}</th>
                <th><a href="/perfil/{{ prest[3] }}">{{ prest[3] }}</a></th> 

                {% if prest[4] == '0' %}
                    <th>No hay</th>
                {% else %}
                    <th>{{prest[4]}}</th>
                {% endif %}


                <th>{{prest[5]}}</th>

                {% if prest[6] == 'S' %}
                    <th>Solicitado</th>
                {% elif prest[6] == 'A' %}
                    <th>Aceptado</th>
                {% elif prest[6] == 'P' %}
                    <th>Prestado</th>
                {% elif prest[6] == 'D' %}
                    <th>Devuelto</th>
                {% elif prest[6] == 'R' %}
                    <th>Rechazado</th>
                {% else %}
                    <th>NO ESTA</th>
                {% endif %}

                {% if prest[6] == 'S' %}
                    <th><a href="/aceptarPedido/{{prest[7]}}">Aceptar</a></th>
                    <th><a href="/rechazar/{{prest[7]}}">Rechazar</a></th>
                {% elif prest[6] == 'A' %}
                    <th><a href="/prestado/{{prest[7]}}">Entregar</a></th>
                {% elif prest[6] == 'P' %}
                    <th><a href="/devolver/{{prest[7]}}">Devolver</a></th>
                {% else %}
                    <th> </th>
                {% endif %}
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

</body>
</html>