<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../../static/css/categoriaAG.css">
        <link rel="shortcut icon" href="../../../static/img/logoSena.png" type="image/x-icon">
        <link rel="stylesheet" href="https://cdn.lineicons.com/4.0/lineicons.css"/>
        <link rel="stylesheet" href="../../../static/css/header.css">
        <script src="../../../static/js/menu.js"></script>
         <title>Agregar Categoria</title> 
    </head>
    <body>
        
        <header id="header">
    
            <figure>
                <img src="../../../static/img/LogoSenaSinFondo.png" alt="Logo Sena" id="logo_sena">
            </figure>
    
            <button id="cont-disparador">
                <i class="lni lni-menu" id="disparador"></i>
            </button>
    
            <div id="menu_cont">
    
                <button id="cont-close">
                    <i class="lni lni-close" id="close"></i>
                </button>
    
                <div class="menu">
                    <ul class="interior" id="menu_ppal">
    
                        <li class="interior">
                            <a href="#"  class="btn-n01" id="btn_usuarios">Usuarios</a>
                            <ul id="menu_usuarios" class="menu-n02">
                                <li><a href="/usuarios" class="btn-n02">Personas registradas</a></li>
                                <li><a href="/aceptarUsuarios" class="btn-n02">Aceptar usuarios</a></li>
                            </ul>
                        </li>
    
                        <li>
                            <a href="#"  class="btn-n01" id="btn_tractores">Tractores</a>
                            <ul id="menu_tractores" class="menu-n02">
                                <li><a href="/consultarTractores" class="btn-n02">Todos los tractores</a></li>
                                <li><a href="/tractores" class="btn-n02">Tractores disponibles</a></li>
                                <li><a href="/agregarTractor" class="btn-n02">Agregar tractor</a></li>
                            </ul>
                        </li>
    
                        <li>
                            <a href="#"  class="btn-n01" id="btn_herramienta">Herramientas</a>
                            <ul id="menu_herramienta" class="menu-n02">
                                <li><a href="/consultarlasHerramientas" class="btn-n02">Todas las herramientas</a></li>
                                <li><a href="/consultarHerramientas" class="btn-n02">Herramientas disponibles</a></li>
                                <li><a href="/agregarHerramienta" class="btn-n02">Agregar herramienta</a></li>
                            </ul>
                        </li>
    
                        <li>
                            <a href="#"  class="btn-n01" id="btn_insumo">Insumos</a>
                            <ul id="menu_insumo" class="menu-n02">
                                <li><a href="/consultarlosConsumibles" class="btn-n02">Todos los insumos</a></li>
                                <li><a href="/consultarConsumibles" class="btn-n02">Insumos disponibles</a></li>
                                <li><a href="/agregarConsumibles" class="btn-n02">Agregar insumos</a></li>
    
                                <li>
                                    <a href="#"  class="btn-n01" id="btn_liquido">Liquidos</a>
                                    <ul id="menu_liquidos" class="menu-n03">
                                        <li><a href="/consultarlosLiquidos" class="btn-n03">Todos los liquidos</a></li>
                                        <li><a href="/consultarLiquidos" class="btn-n03">Liquidos disponibles</a></li>
                                        <li><a href="/agregarLiquidos" class="btn-n03">Agregar liquido</a></li>
                                    </ul>
                                </li>
    
                            </ul>
                        </li>
    
                        <li>
                            <a href="#"  class="btn-n01" id="btn_servicios">Servicios</a>
                            <ul id="menu_servicios" class="menu-n02">
                                <li><a href="/consultarTodosPedidos" class="btn-n02">Todos los pedidos</a></li>
                                <li><a href="/consultarSolicitados" class="btn-n02">Solicitudes</a></li>
                                <li><a href="/consultarAceptado" class="btn-n02">Por entregar</a></li>
                                <li><a href="/consultarprestados" class="btn-n02">Prestados</a></li>
                                <li><a href="/consultarDevueltos" class="btn-n02">Devueltos</a></li>
                                <li><a href="/consultarRechazados" class="btn-n02">Rechazados</a></li>
                            </ul>
                        </li>
    
                        <li>
                            <a href="#"  class="btn-n01" id="btn_categoria">Categorias</a>
                            <ul id="menu_categorias" class="menu-n02">
                                <li><a href="/consultarCategorias" class="btn-n02">Categorias registradas</a></li>
                                <li><a href="/agregarCategoria" class="btn-n02">Agregar categorias</a></li>
                            </ul>
                        </li>
    
                        <li><a href="/novedades" class="btn-n02">Novedades</a></li>
    
                        <li><a href="/graficos"  class="btn-n01">Graficos</a></li>
                        <li><a href="/"  class="btn-n01">CERRAR SESIÓN</a></li>
    
                    </ul>
                </div>
            </div>
        </header>
<body>
    
    <main id="cuerpo">
        
        <header id="cabeza">
            <!-- <h1>Categorias</h1> -->
        </header>

        <section id="agregar">
            <form id="agregar_categorias" name="agregar_categorias" action="/guardarCategoria" method="post" enctype="multipart/form-data">
                <h2>Agregar Categorias</h2>
        
                <label for="nombre_categoria">Nombre</label>
                <input type="text" name="nombre_categoria" id="nombre_categoria" placeholder="Nombre de la categoria" pattern="[A-Za-z0-9\s*]{4,32}" maxlength="32" minlength="4" required title="Como minimo 4 y como maximo 32 letras" tabindex="1" autofocus required>
        
                <label for="tipo_categoria">Tipo de categoria</label>
                <select name="tipo_categoria" id="tipo_categoria" required tabindex="2">
                    <option value="">--Selecciona--</option>
                    <option value="Tractor">Tractor</option>
                    <option value="Herramienta">Herramienta</option>
                    <option value="Insumo">Insumo</option>
                    <option value="Liquido">Liquido</option>
                </select>
        
                <label for="descripcion">Descripcion:</label> 
                <input type="text" name="descripcion" id="descripcion" list="descrip"  placeholder="Descripcion de la categoria" pattern="[A-Za-z0-9\s*]{10,50}" maxlength="50" minlength="10" required title="Como minimo 10 letras" tabindex="3"  required>
                <datalist name="descrip" id="descrip">
                    {% for descri in descripciones %}
                    <option value="{{ descri }}" {% if descri %} selected {% endif %}></option>
                    {% endfor %}
                </datalist>
        
                <div class="button-container">
                    <button type="submit">Guardar</button>            
                </div>
            </form>
        </section>
        

    </main>

</body>
</html>