<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/css/AGherramientas.css">
    <link rel="stylesheet" href="../../../static/css/categorias.css">
    <link rel="shortcut icon" href="../../../static/img/logoSena.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.lineicons.com/4.0/lineicons.css"/>
    <link rel="stylesheet" href="../../../static/css/header.css">
    <script src="../../../static/js/menu.js"></script>
     <title>Agregar Herramienta</title> 
</head>
<body>
    

    <header id="header">

        <figure id="header_logo">
            <img src="../static/img/LogoSenaSinFondo.png" alt="Logo Sena" id="logo_sena">
            <h2 id="titulo">Herramientas</h2>
        </figure>
    
    
        <button id="cont-disparador">
            <i class="lni lni-menu" id="disparador"></i>
        </button>
    
        <div id="menu_cont">
    
            <button id="cont-close">
                <i class="lni lni-close" id="close"></i>
            </button>
    
            <div class="menu">
                <ul class="interior" id="menu_ppal">
    
                    <li class="interior">
                        <a href="#"  class="btn-n01" id="btn_usuarios">Usuarios</a>
                        <ul id="menu_usuarios" class="menu-n02">
                            <li><a href="/aceptarUsuarios" class="btn-n02">Aceptar Usuarios</a></li>
                            <li><a href="/usuarios" class="btn-n02">Personas Registradas</a></li>
                        </ul>
                    </li>
    
                    <li>
                        <a href="#"  class="btn-n01" id="btn_tractores">Tractores</a>
                        <ul id="menu_tractores" class="menu-n02">
                            <li><a href="/agregarTractor" class="btn-n02">Agregar Tractor</a></li>
                            <li><a href="/tractores" class="btn-n02">Tractores Disponibles</a></li>
                            <li><a href="/consultarTractores" class="btn-n02">Todos los Tractores</a></li>
                        </ul>
                    </li>
    
                    <li>
                        <a href="#"  class="btn-n01" id="btn_herramienta">Herramientas</a>
                        <ul id="menu_herramienta" class="menu-n02">
                            <li><a href="/agregarHerramienta" class="btn-n02">Agregar Herramienta</a></li>
                            <li><a href="/consultarHerramientas" class="btn-n02">Herramientas Disponibles</a></li>
                            <li><a href="/consultarlasHerramientas" class="btn-n02">Todas las Herramientas</a></li>
                        </ul>
                    </li>
    
                    <li>
                        <a href="#"  class="btn-n01" id="btn_insumo">Insumos</a>
                        <ul id="menu_insumo" class="menu-n02">
                            <li><a href="/agregarConsumibles" class="btn-n02">Agregar Insumos</a></li>
                            <li><a href="/consultarConsumibles" class="btn-n02">Insumos Disponibles</a></li>
                            <li><a href="/consultarlosConsumibles" class="btn-n02">Todos los Insumos</a></li>
    
                            <li>
                                <a href="#"  class="btn-n01" id="btn_liquido">Liquidos</a>
                                <ul id="menu_liquidos" class="menu-n03">
                                    <li><a href="/agregarLiquidos" class="btn-n03">Agregar Liquido</a></li>
                                    <li><a href="/consultarLiquidos" class="btn-n03">Liquidos Disponibles</a></li>
                                    <li><a href="/consultarlosLiquidos" class="btn-n03">Todos los Liquidos</a></li>
                                </ul>
                            </li>
    
                        </ul>
                    </li>
    
                    <li>
                        <a href="#"  class="btn-n01" id="btn_servicios">Ordenes</a>
                        <ul id="menu_servicios" class="menu-n02">
                            <li><a href="/consultarTodosPedidos" class="btn-n02">Todas las Ordenes</a></li>
                            <li><a href="/consultarSolicitados" class="btn-n02">Solicitudes</a></li>
                            <li><a href="/consultarAceptado" class="btn-n02">Por Entregar</a></li>
                            <li><a href="/consultarprestados" class="btn-n02">Prestados</a></li>
                            <li><a href="/consultarDevueltos" class="btn-n02">Devueltos</a></li>
                            <li><a href="/consultarRechazados" class="btn-n02">Rechazados</a></li>
                        </ul>
                    </li>
    
                    <li>
                        <a href="#"  class="btn-n01" id="btn_categoria">Categorias</a>
                        <ul id="menu_categorias" class="menu-n02">
                            <li><a href="/agregarCategoria" class="btn-n02">Agregar categorias</a></li>
                            <li><a href="/consultarCategorias" class="btn-n02">Categorias Registradas</a></li>
                        </ul>
                    </li>
    
                    <li><a href="/novedades" class="btn-n02">Novedades</a></li>
    
                    <li><a href="/perfilPropio" class="btn-n02">Mi Perfil</a></li>
    
                    <li><a href="/graficos"  class="btn-n01">Graficos</a></li>
                    <li><a href="/"  class="btn-n01">CERRAR SESIÓN</a></li>
    
                </ul>
            </div>
        </div>
    </header>
    
    <main id="cuerpo">

        <section id="agregar">
            <h2>Agregar Herramienta</h2>
            <form id="agregar_herramienta" name="agregar_herramienta" action="/guardarHerramienta" method="post" enctype="multipart/form-data">
                <h4>{{msg}}</h4>

                <label for="id_herramienta">Codigo Sena:</label>
                <input type="text" name="id_herramienta" id="id_herramienta" placeholder="Codigo Sena" pattern="[A-Za-z0-9\s*]{10,15}" maxlength="15" minlength="10" required title="Debe poner el codigo sena" tabindex="1" autofocus required>

                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" id="nombre" placeholder="Nombre de la herramienta" pattern="[A-Za-z\s*]{4,40}" maxlength="40" minlength="4" required title="Minimo 4 letras" tabindex="2" required>

                <label for="id_categoria">Categoría:</label>
                <select name="id_categoria" id="id_categoria" required tabindex="3">
                    <option value="">--Seleccione--</option>
                    {% for categoria in categorias %}
                        <option value="{{ categoria[0] }}">{{ categoria[1] }}</option>
                    {% endfor %}
                </select>

                <label for="cantidad">Cantidad:</label>
                <input type="number" name="cantidad" id="cantidad" placeholder="Cantidad" pattern="[0-9*]{1}" maxlength="1" minlength="1" required title="Solo una herramienta" tabindex="4" required>

                <label for="foto">Foto:</label>
                <input type="file" name="foto" id="foto" required>

                <button type="submit">Guardar</button>

            </form>
        </section>

    </main>

</body>
</html>
