<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/modificarTractores.css">
    <title>Modificar Tractor</title>
</head>
<body>
    <main>

        <header>
            <h2>Modificar Tracores</h2>
        </header>

        <section>
            <form action="/actualizarHerramienta" method="post" enctype="multipart/form-data">

                <label for="id_herramienta">Identificador</label>
                <input type="text" name="id_herramienta" id="id_herramienta" readonly value="{{herramienta[0]}}">

                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" id="nombre" value="{{herramienta['1']}}" >

                <label for="id_categoria">Categoria:</label>
                <select name="id_categoria" id="id_categoria">
                    <option value="">--Seleccione--</option>
                    {% for categoria in categorias %}
                    <option value="{{ categoria[0] }}" {% if categoria[0] == herramienta[2] %}selected{% endif %}>{{ categoria[1] }}</option>
                    {% endfor %}
                </select>

                <label for="estado">Estado:</label>
                <select name="estado" id="estado" required>
                    <option value="">Selecciona</option>
                    <option value="Bueno">Bueno</option>
                    <option value="Malo">Malo</option>
                    <option value="Reparacion">Reparacion</option>
                </select>

                <label for="disponibilidad">Disponibilidad:</label>
                <select name="disponibilidad" id="disponibilidad" required>
                    <option value="">Selecciona</option>
                    <option value="Disponible">Disponible</option>
                    <option value="Ocupado">Ocupado</option>
                </select>

                <label for="activo">Activo:</label>
                <select name="activo" id="activo" required>
                    <option value="1">Si</option>
                    <option value="0">No</option>
                </select> 

                <button type="submit">Guardar</button>
                <a href="/consultarHerramientas">Cancelar</a>

            </form>
        </section>

    </main>
</body>
</html>