<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/css/todoslosTractores.css">
    <link rel="shortcut icon" href="../../../static/img/logoSena.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.lineicons.com/4.0/lineicons.css"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../../../static/css/header.css">
    <link rel="stylesheet" href="../../../static/css/verHerramientas.css">
    <script src="../../../static/js/menu.js"></script>
    <title>Tractores</title>
</head>
<body>

<header id="header">

    <figure id="header_logo">
        <img src="../../../static/img/LogoSenaSinFondo.png" alt="Logo Sena" id="logo_sena">
        <h2 id="titulo">Herramientas disponibles</h2>
    </figure>

    <button id="cont-disparador">
        <i class="lni lni-menu" id="disparador"></i>
    </button>

    <div id="menu_cont">

        <button id="cont-close">
            <i class="lni lni-close" id="close"></i>
        </button>

        <div class="menu">
            <ul class="interior" id="menu_ppal">

                <li class="interior">
                    <a href="#"  class="btn-n01" id="btn_usuarios">Usuarios</a>
                    <ul id="menu_usuarios" class="menu-n02">
                        <li><a href="/usuarios" class="btn-n02">Personas registradas</a></li>
                        <li><a href="/aceptarUsuarios" class="btn-n02">Aceptar usuarios</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#"  class="btn-n01" id="btn_tractores">Tractores</a>
                    <ul id="menu_tractores" class="menu-n02">
                        <li><a href="/consultarTractores" class="btn-n02">Todos los tractores</a></li>
                        <li><a href="/tractores" class="btn-n02">Tractores disponibles</a></li>
                        <li><a href="/agregarTractor" class="btn-n02">Agregar tractor</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#"  class="btn-n01" id="btn_herramienta">Herramientas</a>
                    <ul id="menu_herramienta" class="menu-n02">
                        <li><a href="/consultarlasHerramientas" class="btn-n02">Todas las herramientas</a></li>
                        <li><a href="/consultarHerramientas" class="btn-n02">Herramientas disponibles</a></li>
                        <li><a href="/agregarHerramienta" class="btn-n02">Agregar herramienta</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#"  class="btn-n01" id="btn_insumo">Insumos</a>
                    <ul id="menu_insumo" class="menu-n02">
                        <li><a href="/consultarlosConsumibles" class="btn-n02">Todos los insumos</a></li>
                        <li><a href="/consultarConsumibles" class="btn-n02">Insumos disponibles</a></li>
                        <li><a href="/agregarConsumibles" class="btn-n02">Agregar insumos</a></li>

                        <li>
                            <a href="#"  class="btn-n01" id="btn_liquido">Liquidos</a>
                            <ul id="menu_liquidos" class="menu-n03">
                                <li><a href="/consultarlosLiquidos" class="btn-n03">Todos los liquidos</a></li>
                                <li><a href="/consultarLiquidos" class="btn-n03">Liquidos disponibles</a></li>
                                <li><a href="/agregarLiquidos" class="btn-n03">Agregar liquido</a></li>
                            </ul>
                        </li>

                    </ul>
                </li>

                <li>
                    <a href="#"  class="btn-n01" id="btn_servicios">Servicios</a>
                    <ul id="menu_servicios" class="menu-n02">
                        <li><a href="/consultarTodosPedidos" class="btn-n02">Todos los pedidos</a></li>
                        <li><a href="/consultarSolicitados" class="btn-n02">Solicitudes</a></li>
                        <li><a href="/consultarAceptado" class="btn-n02">Por entregar</a></li>
                        <li><a href="/consultarprestados" class="btn-n02">Prestados</a></li>
                        <li><a href="/consultarDevueltos" class="btn-n02">Devueltos</a></li>
                        <li><a href="/consultarRechazados" class="btn-n02">Rechazados</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#"  class="btn-n01" id="btn_categoria">Categorias</a>
                    <ul id="menu_categorias" class="menu-n02">
                        <li><a href="/consultarCategorias" class="btn-n02">Categorias registradas</a></li>
                        <li><a href="/agregarCategoria" class="btn-n02">Agregar categorias</a></li>
                    </ul>
                </li>

                <li><a href="/novedades" class="btn-n02">Novedades</a></li>
                <li><a href="/perfilPropio" class="btn-n02">Mi perfil</a></li>

                <li><a href="/graficos"  class="btn-n01">Graficos</a></li>
                <li><a href="/"  class="btn-n01">CERRAR SESIÓN</a></li>


            </ul>
        </div>


        
    </div>
</header>

<main id="cuerpo">
    <table>
        <thead>
            <tr>
                <th data-label="Codigo SENA">Codigo SENA</th>
                <th data-label="Nombre">Nombre</th>
                <th data-label="Categoria">Categoria</th>
                <th data-label="Foto">Foto</th>
                <th data-label="Disponibilidad">Disponibilidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for herra in res %}
                <tr>
                    <td data-label="Codigo SENA">{{herra[0]}}</td>
                    <td data-label="Nombre">{{herra[1]}}</td>
                    <td data-label="Categoria">{{herra[3]}}</td>
                    <td data-label="Foto">
                        <figure class="img-thumbnail" >
                            <img width="100" height="100"  src="../../../uploads/{{herra[2]}}" alt="{{herra[1]}}">
                        </figure>
                    </td>

                    {% if herra[4] == '0' %}
                        <td data-label="Disponibilidad">No disponible</td>
                    {% elif herra[4] == '1' %}
                        <td data-label="Disponibilidad">Disponible</td>
                    {% elif herra[4] == '2' %}
                        <td data-label="Disponibilidad">Prestado</td>
                    {% else %}
                        <td data-label="Disponibilidad">NO ESTA</td>
                    {% endif %}
                        

                    <td data-label="Acciones">
                        <a onclick="return confirm('¿Desea editar esta herramienta?')" href="editarHerramienta/{{herra[0]}}" class="acciones"><i class='bx bx-edit'></i>Editar</a>                        
                        <a onclick="return confirm('¿Desea eliminar esta herramienta?')" href="borrarHerramienta/{{herra[0]}}" class="acciones"><i class="lni lni-circle-plus"></i>Agregar novedad</a>
                        <a onclick="return confirm('¿Desea agregarle una novedad a esta herramienta?')"  href="agregarnovedad/{{herra[0]}}" id="btn_delete"><i class='bx bx-trash' id="delete"></i>Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>


</body>
</html>