<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/vercartasusuarioherra.css">
    <link rel="stylesheet" href="../../static/css/header.css">
    <link rel="shortcut icon" href="../../static/img/logoSena.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.lineicons.com/4.0/lineicons.css"/>
    <script src="../../../static/js/menu.js"></script>
    <title>Inicio</title>
</head>
<body>
        <header id="header">
            <figure id="header_logo">
                <img src="../../static/img/LogoSenaSinFondo.png" alt="" id="logo_sena">
                <h2 id="titulo">Herramientas</h2>
            </figure>
            <button id="cont-disparador">
                <i class="lni lni-menu" id="disparador"></i>
            </button>
            <div id="menu_cont">
                <button id="cont-close">
                    <i class="lni lni-close" id="close"></i>
                </button>
                <div class="menu">
                    <ul class="interior">
                        <li><a href="/panel">Inicio</a></li>
                        <li><a href="/tractores">Tractores</a></li>
                        <li><a href="/consultarConsumibles">Insumos</a></li>
                        <li><a href="/mispedidos">Mis pedidos</a></li>
                        <li><a href="/perfilPropio">Mi perfil</a></li>
                        <li><a href="/">Cerrar Sesion</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <section id="cont_mayor">
        <div id="cont_paneles">
            {% for herra in res %}
            <article class="mosaico" id="reservas">
                <figure class="img-thumbnail" >
                    <img src="../../uploads/{{herra[2]}}" alt="{{herra[1]}}" id="img-bd">
                </figure>
                <div id="cont-i">
                    <h2>{{herra[1]}}</h2>
                </div>
                <div id="cont_bajo">
                    <div id="cont_h5">
                        <h5>Categoria: {{herra[3]}} </h5>
                        <h5>Descripción: {{herra[4]}}</h5>
                    </div>
                </div>
                <div id="cont_link" >
                    <div class="btnmosatwo">
                        <a href="pedir/{{herra[0]}}">Solicitar</a>
                    </div>
                </div>
            </article>
            {% endfor %}
        </div>
    </section>
</body>
</html>