<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/principalLider.css">
    <link rel="stylesheet" href="../../static/css/header.css">
    <title>Prestamos</title>
</head>
<body>
    
    <header id="header">
        <figure>
            <img src="../../static/img/LogoSenaSinFondo.png" alt="" id="logo_sena">
        </figure>
        <button id="cont-disparador">
            <i class="lni lni-menu" id="disparador"></i>
        </button>
        <div id="menu_cont">
            <button id="cont-close">
                <i class="lni lni-close" id="close"></i>
            </button>

            <div class="menu">
                <ul class="interior">
                    <li><a href="/Correcto">Inicio</a></li>
                    <li><a href="/consultarHerramientas">Herramientas</a></li>
                    <li><a href="/consultarConsumibles">Insumos</a></li>
                    <li><a href="/tractores">Tractores</a></li>
                    <li><a href="/perfilPropio">Mi perfil</a></li>

                    <li><a href="/">CERRAR SESIÓN</a></li>
                </ul>
            </div>
        </div>
    </header>

    <div id="prestamos">
        <h4>{{titulo}}</h4>
        
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Codigo sena</th>
                    <th>Labor </th>
                    <th>Ficha</th>    
                    <th>Fecha </th>
                    <th>Estado</th>

                </tr>
            </thead>
            <tbody>
            {% for prest in trac %}
            <tr>
                <th>{{prest[0]}}</th>
                <th>{{prest[2]}}</th>
                <th>{{prest[3]}}</th>
                {% if prest[5] == '0' %}
                    <th>No hay</th>
                {% else %}
                    <th>{{prest[5]}}</th>
                {% endif %}


                <th>{{prest[6]}}</th>

                {% if prest[7] == 'S' %}
                    <th>Solicitado</th>
                {% elif prest[7] == 'A' %}
                    <th>Aceptado</th>
                {% elif prest[7] == 'P' %}
                    <th>Prestado</th>
                {% elif prest[7] == 'D' %}
                    <th>Devuelto</th>
                {% elif prest[7] == 'R' %}
                    <th>Rechazado</th>
                {% else %}
                    <th>NO ESTA</th>
                {% endif %}
            </tr>
            {% endfor %}

</body>
</html>