<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/principalusuario.css">
    <link rel="stylesheet" href="https://cdn.lineicons.com/4.0/lineicons.css"/>
    <title>PRINCIPAL USUARIOS</title>
</head>
<body>
    <main id="cont-tod">
        <header id="header">
            <figure>
                <img src="../../static/img/LogoSenaSinFondo.png" alt="" id="logo_sena">
            </figure>
            <button id="cont-disparador">
                <i class="lni lni-menu" id="disparador"></i>
            </button>
            <div id="menu_cont">
                <button id="cont-close">
                    <i class="lni lni-close" id="close"></i>
                </button>
                <div class="menu">
                    <ul class="interior">
                        <li><a href="/Correcto">Inicio</a></li>
                        <li><a href="/mispedidos">Mis pedidos</a></li>
                        <li><a href="/perfilPropio">Mi perfil</a></li>
                        <li><a href="/">Cerrar Sesion</a></li>
                    </ul>
                </div>
            </div>
        </header>
    <div class="tresuno">
        <article id="art_tractores">
            <h1 id="titulo1">TRACTORES</h1>
            <figure id="foto_tractor">
                <img src="../../static/img/tractor.png" alt="" id="foto_tractor">
            </figure>
            <p id="parrafo_tractores">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus maxime, in neque alias culpa quas minus animi sunt id sint. Eaque hic quam suscipit modi sequi id laboriosam officiis temporibus.</p>
            <button id="button_tractores"><a href="/tractores">Ver tractores</a></button>
        </article>

        <!-- urbano aqui hago la funcion para mostrar solo lo que el usuario necesita -->


        <article id="art_herramientas">
            <h1 id="titulo2">HERRAMIENTAS</h1>
                <figure id="foto_herramienta">
                    <img src="../../static/img/herramientas.png" alt="" id="foto_herramienta">
                </figure>
                <form action="/buscarHerramientas" method="post" id="form_herramientas" name="form_herramientas">
                    <input type="search" name="buscar_herramientas" id="buscar_herramientas" placeholder="Buscar...">
                    <button type="submit" id="button_herramientas" name="">
                        <i class="lni lni-keyword-research"></i>
                    </button>
                </form>
                <p id="parrafo_herramientas">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus maxime, in neque alias culpa quas minus animi sunt id sint. Eaque hic quam suscipit modi sequi id laboriosam officiis temporibus.</p>
                <button id="button_tractores"><a href="/consultarHerramientas">Ver herramientas</a></button>
        </article>
        <!-- urbano aqui hago la funcion para mostrar solo lo que el usuario necesita -->
        <article id="art_insumos">
            <h1 id="titulo3">INSUMOS</h1>
                <figure id="foto_insumo">
                    <img src="../../static/img/logistica.png" alt="" id="foto_insumo">
                </figure>
                <form action="/buscarLiquido" method="post" id="form_insumos" name="form_insumos">
                    <input type="search" name="buscar_insumo" id="buscar_insumo" placeholder="Buscar...">
                    <button type="submit" id="button_insumos" name="button_insumos">
                        <i class="lni lni-keyword-research"></i>
                    </button>
                </form>
                <p id="parrafo_insumos">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quas laborum unde iste. Esse, similique possimus soluta necessitatibus a rem laborum sapiente aspernatur hic, assumenda nam fugiat</p>
                <button id="button_tractores"><a href="/consultarConsumibles">Ver insumos</a></button>
        </article>
    </div>
    <script src="../../static/js/menuh.js"></script>
</main>
</body>
</html>