<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/tractoresUsu.css">
    <link rel="shortcut icon" href="../../static/img/logoSena.png" type="image/x-icon">
    <title>Inicio</title>
</head>
<body>
    

    <main id="ppal">
        <header id="header">
            <figure>
                <img src="../../static/img/LogoSenaSinFondo.png" alt="" id="logo_sena">
            </figure>
            <button id="cont-disparador">
                <i class="lni lni-menu" id="disparador"></i>
            </button>
            <div id="menu_cont">
                <button id="cont-close">
                    <i class="lni lni-close" id="close"></i>
                </button>
                <div class="menu">
                    <ul class="interior">
                        <li><a href="/Correcto">Inicio</a></li>
                        <li><a href="/consultarHerramientas">Herramientas</a></li>
                        <li><a href="/consultarConsumibles">Insumos</a></li>
                        <li><a href="/mispedidos">Mis pedidos</a></li>
                        <li><a href="/perfilPropio">Mi perfil</a></li>
                        <li><a href="/">Cerrar Sesion</a></li>
                    </ul>
                </div>
            </div>
        </header>
    <section id="cont_mayor">
            <h2>Tractores</h2>
        <section id="cont_paneles">
            {% for trac in res %}
                <article class="mosaico" id="reservas">
                    <div>
                        <h2>{{trac[6]}} {{trac[7]}}</h2>
                        <h6>Id Tractor: {{trac[0]}}</h6>
                        <h6>Categoria: {{trac[1]}} </h6>
                        

                        {% if trac[3] == '0' %}
                            <h6>Disponibilidad: Ocupado</h6>
                        {% elif trac[3] == '1' %}
                            <h6>Disponibilidad: Disponible</h6>
                        {% elif trac[3] == '2' %}
                            <h6>Disponibilidad: Prestado</h6>
                        {% else %}
                        <h6>Disponibilidad: NO ESTA</h6>
                        {% endif %}
                    </div>
                        <figure class="img-thumbnail" >
                            <img width="100" height="100"  src="../../uploads/{{trac[2]}}" alt="{{trac[6]}} {{trac[7]}}">
                        </figure>
                </article>
            {% endfor %}
        </section>
    </section>
    </main>

</body>
</html>