<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/tractoresUsu.css">
    <link rel="stylesheet" href="https://cdn.lineicons.com/4.0/lineicons.css" />
    <link rel="shortcut icon" href="../static/true.png" type="image/x-icon">
    <title>Inicio</title>
</head>
<body>
    

    <main id="ppal">
    <header id="cabeza">

        <figure id="marca"><img src="../../static/img/LogoSenaSinFondo.png" alt="SENA logotipo"></figure>

        <h1>Hangar</h1>

        <nav id="menu_admor">
            <i class="lni lni-menu" id="disparador"></i>
            <ul id="opcs_menu">
                <li><a href="/usuarios">Usuarios</a></li>
                <li><a href="/funciones">Funciones Admin</a></li>
                <li><a href="/agregarTractor" >Agregar Tractores</a></li>
                <li><a href="/">CERRAR SESIÓN</a></li>
            </ul>
        </nav>
    </header>
    <section id="cont_mayor">
        <section id="links" class="Titulo">
            <a href="/consultarHerramientas"><i class="lni lni-chevron-left" id="left"></i></a>
            <h2>Tractores</h2>
            <a href="/consultarConsumibles"><i class="lni lni-chevron-right"></i></a>
        </section>
        <section id="cont_paneles">
            {% for trac in res %}
                <article class="mosaico" id="reservas">
                    <h2>{{trac[2]}}</h2>
                    <h6>Id Tractor: {{trac[0]}}</h6>
                    <h6>Categoria: {{trac[1]}} </h6>
                    <h6>Disponibilidad: {{trac[3]}}</h6>
                    <figure>
                        <img src="uploads/{{trac[6]}}" alt="{{trac[2]}}">
                    </figure>
                </article>
            {% endfor %}
            
        </section>
    </section>
    </main>

</body>
</html>