@font-face{
    font-family: 'work';
    src: url(../fuentes/tipografiaprincipal/WorkSans-Medium.ttf);
    src: url(../fuentes/tipografiaprincipal/WorkSans-Medium.woff),
        url(../fuentes/tipografiaprincipal/AnyConv.com__WorkSans-Medium.eot),
        url(../fuentes/tipografiaprincipal/AnyConv.com__WorkSans-Medium.eot?iefix) format('embedded-opentype');
        font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: 'calibri';
    src: url(../fuentes/tipografiasecundaria/CalibriRegular.ttf);
    src: url(../fuentes/tipografiasecundaria/Calibri-Regular.woff),
        url(../fuentes/tipografiasecundaria/AnyConv.com__CalibriRegular.eot),
        url(../fuentes/tipografiasecundaria/AnyConv.com__CalibriRegular.eot?iefix) format('embedded-opentype');
        font-style: normal;
    font-weight: normal;
}

body {
    background-image: url(../img/fndhrr.jpg); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}




section#agregar {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    max-width: 100%; 
    box-sizing: border-box;
    position: fixed; 
    top: 120px; 
    right: 20px; 
    margin: 0 auto; 
}

section#agregar h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}


section#agregar label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}


section#agregar input[type="text"],
section#agregar select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


section#agregar button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

section#agregar button[type="submit"]:hover {
    background-color: #45a049;
}


section#agregar a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: white;
    background-color: #d00000;
    padding: 8px 10px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box; 
    margin: 10px auto 0 auto;
}

section#agregar a:hover {
    background-color: #d00000;
}

/* Adaptabilidad para dispositivos móviles */
@media (max-width: 600px) {
    section#agregar {
        padding: 15px;
        width: 90%; 
        right: auto; 
        left: 50%;
        transform: translateX(-50%);
        top: 100px;
    }

    section#agregar h2 {
        font-size: 1.5em;
    }
}


@media (min-width: 600px) {
    section#agregar {
        top: 120px; 
        right: 20px; 
    }
}
