@font-face{
    font-family: 'work';
    src: url(../fuentes/tipografiaprincipal/WorkSans-Medium.ttf);
    src: url(../fuentes/tipografiaprincipal/WorkSans-Medium.woff),
        url(../fuentes/tipografiaprincipal/AnyConv.com__WorkSans-Medium.eot),
        url(../fuentes/tipografiaprincipal/AnyConv.com__WorkSans-Medium.eot?iefix) format('embedded-opentype');
        font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: 'calibri';
    src: url(../fuentes/tipografiasecundaria/CalibriRegular.ttf);
    src: url(../fuentes/tipografiasecundaria/Calibri-Regular.woff),
        url(../fuentes/tipografiasecundaria/AnyConv.com__CalibriRegular.eot),
        url(../fuentes/tipografiasecundaria/AnyConv.com__CalibriRegular.eot?iefix) format('embedded-opentype');
        font-style: normal;
    font-weight: normal;
}

body {
    background-image: url(../img/fndctg.jpg); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}



#agregar {
    margin-top: 20px; 
}

form {
    background-color: #ffffff;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 350px;
    max-width: 100%;
    box-sizing: border-box;
    position: fixed; 
    top: 120px; 
    right: 20px; 
    margin: 0 auto; 
}



form h2 {
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
}


label {
    display: block;
    margin-bottom: 8px;
    color: #555555;
    font-weight: bold;
}


input[type="text"],
input[type="file"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #dddddd;
    border-radius: 0px;
    box-sizing: border-box;
}


button[type="submit"] {
    width: 100%;
    background-color: #00324D; 
    color: white;
    padding: 10px;
    border: none;
    border-radius: 0px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

button[type="submit"]:hover {
    background-color: #00324D; 
}


a.cancel-button {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: white;
    background-color: #d00000;
    padding: 10px; 
    border-radius: 0px;
    text-decoration: none;
    font-size: 16px; 
    width: 100%; 
    box-sizing: border-box; 
}

a.cancel-button:hover {
    background-color: #d00000; 
}

/* Adaptabilidad para dispositivos móviles */
@media (max-width: 600px) {
    form {
        padding: 15px;
        width: 90%; 
        right: auto; 
        left: 50%;
        transform: translateX(-50%);
        top: 100px; 
    }

    form h2 {
        font-size: 1.5em;
    }
}


@media (min-width: 600px) {
    form {
        top: 120px; 
        right: 20px; 
    }
}
