@font-face{
    font-family: 'work';
    src: url(../fuentes/tipografiaprincipal/WorkSans-Medium.ttf);
    src: url(../fuentes/tipografiaprincipal/WorkSans-Medium.woff),
        url(../fuentes/tipografiaprincipal/AnyConv.com__WorkSans-Medium.eot),
        url(../fuentes/tipografiaprincipal/AnyConv.com__WorkSans-Medium.eot?iefix) format('embedded-opentype');
        font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: 'calibri';
    src: url(../fuentes/tipografiasecundaria/CalibriRegular.ttf);
    src: url(../fuentes/tipografiasecundaria/Calibri-Regular.woff),
        url(../fuentes/tipografiasecundaria/AnyConv.com__CalibriRegular.eot),
        url(../fuentes/tipografiasecundaria/AnyConv.com__CalibriRegular.eot?iefix) format('embedded-opentype');
        font-style: normal;
    font-weight: normal;
}
/* Estilos generales */
body {
    background-image: url(../img/fndhrr.jpg); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: 'work', 'calibri';
}

form#form_medio{
    max-width: 400px;
    background-color: white;
}

form#form_medio h2{
    background-color: #39A900;
    color: white;
    padding: 10px;
    margin-top: 0;
    text-align: center;
}

#cont_medio{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

/* Estilos para los botones */
.btn-guardar {
    width: 100%; 
    background-color: #00324D;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 2%;
}

.btn-cancelar {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: white;
    background-color: #d00000;
    padding: 8px 10px;
    border-radius: 0px;
    text-decoration: none;
    font-size: 14px;
    width: 100%; 
    margin: 10px auto 0 auto;
}

section {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    align-items: center;
    height: 85vh;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
select,
input[type="file"] {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 0px;
    width: 100%;
}

input[type="file"] {
    padding: 8px;
}

.img-thumbnail img {
    width: 100px;
}

button[type="submit"],
a {
    border: none;
    border-radius: 0px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: rgb(243, 243, 243);
    color: #39A900;
}

@media (max-width: 600px) {
    section {
        justify-content: center;
    }
    form#form_medio{
        margin-right: 0;
    }
}

@media only screen and (max-height: 626px) {
    section {
        align-items: start;
    }
}
