:root{
    --logo-sena: #39A900;
    --azul-dark: #00324D;
    --azul-claro: #82DED0;
    --amarrillo: #FFCE40;
    --crema: #FBFBE2;
    --verde-palido: #385C57;
    --salmon: #CB7766;
    --blanco: #fefefe;
    --negro: #070707;
}


#titulo{
    display: flex;
    justify-content: space-around;
}

#botones{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    color: black; 
}

.botongra {
    display: inline-block;
    padding: 4px 20px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 6px;
    box-shadow: 0 3px #04aa6d77;
}
.botongra:hover {background-color: #3e8e41}

#imgrafico{
    display: flex;
    justify-content: center;
    height: 43vh;
}

#formu{
    display: flex;
    justify-content: center
}
    #correoSub{
        width: 100%;
        padding: 5px 5px;
        font-size: 14px;
        border: 1px solid #04AA6D;
        border-radius: 6px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        outline: none;
        transition: border-color 0.3s, box-shadow 0.3s;
    }

    #btngrafico{
        font-size: 14px;
        color: #fff;
        background-color: #04AA6D;
        border: none;
        border-radius: 6px;
        box-shadow: 0 3px #999;
    }
    .btngrafico:hover {background-color: #3e8e41}

    .btngrafico:active {
      background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }



@media only screen and (min-width: 800px){
    #imgrafico{
        display: flex;
        justify-content: center;
        height: 70vh;
    }
   
    #formu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: stretch;
        padding: 18px;
        align-items: center;
    }

    #correoSub {
        margin: 10px;
        width: 40%;
        font-size: 14px;
        border: 1px solid #04AA6D;
        border-radius: 6px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        outline: none;
        transition: border-color 0.3s, box-shadow 0.3s;
    }
}