:root{
    --logo-sena: #39A900;
    --azul-dark: #00324D;
    --azul-claro: #82DED0;
    --amarrillo: #FFCE40;
    --crema: #FBFBE2;
    --verde-palido: #385C57;
    --salmon: #CB7766;
    --blanco: #fefefe;
    --negro: #070707;
}

#header_logo{
    display: flex;
    align-items: center;
    color: white;
}

div#botones{
    display: flex;
    justify-content: center;
    padding: 18px;
    height: 80px;
}
    div#botones .botongra{
        padding: 10px;
        background-color: #00324D;
        color: white;
        border-radius: 10px;
        border: none;
        display: flex;
        margin: 0px 30px;
        align-items: center;
        transition: 0.5 ease-out;
    }
        div#botones .botongra:hover{
            background-color: #070707;
        }


form#formu{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 15px;
    gap: 5px;
}
 
    form#formu #correoSub{
        font-size: 14px;
        padding: 10px;
        width: 45%;
        height: 35px;
        background: none;
        border-radius: 10px;
        border-color: #00324D;
    }
    form#formu button{
        border-radius: 10px;
        padding: 10px;
        border: none;
        cursor: pointer;
        color: white;
        background-color: #00324D;
    }
    form#formu button:hover{
        background: #070707;
    }
div#imgrafico{
    display: flex;
    justify-content: center;
}
.imgra{
    width: 100%;
}

@media only screen and (min-width: 768px){
    .imgra{
        width: 70%;
    }
    form#formu{
        gap: 10px;
    }
    div#imgrafico{
        display: flex;
        justify-content: center;
    }
    div#botones .botongra{
        margin: 0px 50px;
    }
}

@media only screen and (min-width: 1200px){
    .imgra{
        width: 50%;
    }
    form#formu{
        gap: 15px;
    }
}