@font-face{
    font-family: 'work';
    src: url(../fuentes/tipografiaprincipal/WorkSans-Medium.ttf);
    src: url(../fuentes/tipografiaprincipal/WorkSans-Medium.woff),
        url(../fuentes/tipografiaprincipal/AnyConv.com__WorkSans-Medium.eot),
        url(../fuentes/tipografiaprincipal/AnyConv.com__WorkSans-Medium.eot?iefix) format('embedded-opentype');
        font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: 'calibri';
    src: url(../fuentes/tipografiasecundaria/CalibriRegular.ttf);
    src: url(../fuentes/tipografiasecundaria/Calibri-Regular.woff),
        url(../fuentes/tipografiasecundaria/AnyConv.com__CalibriRegular.eot),
        url(../fuentes/tipografiasecundaria/AnyConv.com__CalibriRegular.eot?iefix) format('embedded-opentype');
        font-style: normal;
    font-weight: normal;
}

* {
    box-sizing: border-box;
    font-family: 'work', 'calibri';
}
a {
    color: inherit;
    text-decoration: none;
    display: block;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
    ul li {
        position: relative;
        z-index: 2;
    }
body {
    font-family: 'work', 'calibri';
    font-size: 13px;
}
html, body{
    margin: 0;
    padding: 0;
}
figure{
    padding: 0;
    margin: 0;
}
header#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00324D;
}
#rayita{
    height: 55px;
    border: 1px solid white;
    margin: 10px;
}
#contenedortitulo{
    display: flex;
    align-items: center;
    color: white;
    animation: slide-in 0.4s ease-in;
    padding: 10px;
}
#contenidotitulo{
    
}
#contenedortitulo h2{
    margin: 0;
}
    h2#titulo{
        border: none;
    }
#contenidonombre h4{
    font-size: 11px;
    margin: 0;
    padding: 0;
}

@keyframes slide-in{
    from{
        transform: translateX(-50vw);
    }
    to{
        transform: translateX(0);
    }
}
#menu_cont{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100vh;
    overflow-x: auto;
    width: 70%;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    background-color: #00324D;
    display: none;
    z-index: 2;
}
#menu_cont.visible{
    display: block;
    animation: slide-in2 0.3s ease-out;
}
#menu_cont.remove{
    display: none;
}
    @keyframes slide-in2{
        from{
            transform: translateY(-50vw);
        }
        to{
            transform: translateY(0);
        }
    }

#cont-disparador{
    padding: 15px;
    background: none;
    border: none;
    cursor: pointer;
}
#disparador{
    color: white;
    font-size: 30px;
}
    #disparador:hover{
        color: #36A900;
    }
#cont-close{
    background: none;
    border: none;
    padding: 10px;
}
#close{
    color: white;
    font-size: 30px;
    cursor: pointer;
}
    #close:hover{
        color: #36A900;
    }
header li{
    padding: 10px;
    margin: 10px;
    list-style-type: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu{
    
}
header a{
    text-decoration: none;
    color: white;
    padding: 0;
}
header a:hover{
    color: #36A900;
}
figure#header_logo{
    width: 55px;
    height: 55px;
}
#logo_sena{
    width: 100%;
}
#menu_usuarios, #menu_tractores, #menu_herramienta, #menu_insumo, #menu_servicios, #menu_categorias, #menu_novedad, #menu_liquidos  {
    display: none;
}

@media only screen and (min-width: 768px){
    #menu_cont{
        width: 30%;
    }
}

@media only screen and (min-width: 1366px){
    hr{
        display: none;
    }
    #menu_cont{
        display: block;
        align-items: center;
        background: none;
        box-shadow: none;
        width: 100%;
        height: 0px;
        overflow-x: visible;
        margin-top: auto;
    }
    #menu_cont.remove{
        display: block;
    }
    #cont-disparador, #cont-close{
        display: none;
    }
    .interior{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 95px;
    }

    #menu_usuarios, #menu_tractores, #menu_herramienta, #menu_insumo, #menu_servicios, #menu_categorias, #menu_novedad, #menu_liquidos  {
        background-color: #012a41;
        box-shadow: 0px 5px 16px rgba(11,3,43,0.3);
        color: aliceblue;
        position: absolute;
        z-index: 2;
        top: 45px;
    }
    #menu_tractores{
        width: 200px;
        left: 15px;
    }
    #menu_usuarios{
        width: 200px;
        left: 15px;
    }
    #menu_herramienta{
        width: 230px;
        left: 15px;
    }
    #menu_insumo{
        width: 190px;
        left: 15px;
    }
        #menu_liquidos{
            width: 190px;
            position: absolute;
            background-color: #001d2e;
            left: 140px;
            top: 20px;
        }
    #menu_servicios{
        width: 190px;
        left: 15px;
    }
    #menu_categorias, #menu_novedad{
        width: 210px;
        left: 15px;
    }

    header li{
        padding: 15px;
        margin: 0px;
    }  
}
