* {
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
    display: block;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
    ul li {
        position: relative;
        z-index: 2;
    }
body {
    font-family: 'Segoe UI', sans-serif;
    font-size: 13px;
}
html, body{
    margin: 0%;
    padding: 0%;
}
figure{
    padding: 0;
    margin: 0;
}
header#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: header;
    background-color: #36A900;
}
#header_logo{
    display: flex;
    align-items: center;
    color: white;
    animation: slide-in 0.4s ease-in;
}
    #header_logo h2{
        border: none;
        border-left: 2px solid white;
        padding: 10px 10px 10px 20px;
    }
@keyframes slide-in{
    from{
        transform: translateX(-50vw);
    }
    to{
        transform: translateX(0);
    }
}
#menu_cont{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    right: 0px;
    top: 0px;
    min-height: 100vh;
    width: 40%;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    background-color: #36A900;
    display: none;
    z-index: 2;
}
#menu_cont.visible{
    display: block;
    animation: slide-in2 0.3s ease-out;
}
    @keyframes slide-in2{
        from{
            transform: translateX(150vw);
        }
        to{
            transform: translateX(0);
        }
    }

#cont-disparador{
    padding: 15px;
    background: none;
    border: none;
    cursor: pointer;
}
#disparador{
    color: white;
    font-size: 30px;
}
#cont-close{
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
}
#close{
    color: white;
}
header li{
    padding: 10px;
    margin: 10px;
    list-style-type: none;
    border-radius: 10px;
}
header a{
    text-decoration: none;
    color: white;
    padding: 0;
}
#logo_sena{
    width: 90px;
    height: 80px;
}
#menu_usuarios, #menu_tractores, #menu_herramienta, #menu_insumo, #menu_servicios, #menu_categorias, #menu_novedad  {
    display: none;
}

/* aqui comienza el css de mi interfas */




@media only screen and (min-width: 1366px){
    #menu_cont{
        display: block;
        align-items: center;
        background: none;
        box-shadow: none;
        width: 100%;
        min-height: 0;
        position: relative;
    }
    #cont-disparador, #cont-close{
        display: none;
    }
    .interior{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    figure#logo{
        display: flex;
        justify-content: center;
    }
    img#logo-sena{
        width: 120px;
        height: 120px;
    }

    #menu_usuarios, #menu_tractores, #menu_herramienta, #menu_insumo, #menu_servicios, #menu_categorias, #menu_novedad  {
        background-color: rgb(53, 153, 7);
        box-shadow: 0px 5px 16px rgba(11,3,43,0.3);
        color: aliceblue;
        position: absolute;
        z-index: 2;
        top: 45px;
    }
    #menu_tractores{
        width: 160px;
    }
    #menu_usuarios{
        width: 160px;
        left: 10px;
    }
    #menu_herramienta{
        width: 180px;
    }
    #menu_insumo{
        width: 150px;
    }
        #menu_liquidos{
            width: 150px;
            position: absolute;
            background-color: #2f8904;
            left: 90px;
            top: 10px;
        }
    #menu_servicios{
        width: 135px;
    }
    #menu_categorias, #menu_novedad{
        
        width: 170px;
    }

    #header_logo{
        width: 40%;
    }

    header li{
        padding: 15px;
        margin: 0px;
    }

   
}
