@font-face{
    font-family: 'work';
    src: url(../fuentes/tipografiaprincipal/WorkSans-Medium.ttf);
    src: url(../fuentes/tipografiaprincipal/WorkSans-Medium.woff),
        url(../fuentes/tipografiaprincipal/AnyConv.com__WorkSans-Medium.eot),
        url(../fuentes/tipografiaprincipal/AnyConv.com__WorkSans-Medium.eot?iefix) format('embedded-opentype');
        font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: 'calibri';
    src: url(../fuentes/tipografiasecundaria/CalibriRegular.ttf);
    src: url(../fuentes/tipografiasecundaria/Calibri-Regular.woff),
        url(../fuentes/tipografiasecundaria/AnyConv.com__CalibriRegular.eot),
        url(../fuentes/tipografiasecundaria/AnyConv.com__CalibriRegular.eot?iefix) format('embedded-opentype');
        font-style: normal;
    font-weight: normal;
}

body {
    background-image: url(../img/fndInsu.jpg); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: 'work', 'calibri';
}


#agregar {
    display: flex;
    padding: 0 50px;
    justify-content: flex-end;
    align-items: center;
    height: 85vh;
}

form {
    background-color: #ffffff;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    width: clamp(300px, 85%, 350px);
    box-sizing: border-box;
}

form h2 {
    margin-top: 0;
    text-align: center;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #36A900;
}

form h4 {
    text-align: center;
    color: #ff4d4d; 
    margin-bottom: 20px;
}

#medio{
    padding: 0px 20px 20px;
}


label {
    display: block;
    margin-bottom: 8px;
    color: #555555;
    font-weight: bold;
}


section#agregar input[type="text"],
section#agregar input[type="number"],
section#agregar input[type="file"],
section#agregar select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
}


section#agregar button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #00324D;
    color: white;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

section#agregar button[type="submit"]:hover {
    background-color: rgb(243, 243, 243);
    color: #36A900;
}


section#agregar a.cancel-button {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: white;
    background-color: #d00000;
    padding: 8px 10px;
    border-radius: 0px;
    text-decoration: none;
    font-size: 14px;
    width: 50%;
    margin: 10px auto 0 auto;
}

section#agregar a.cancel-button:hover {
    background-color: #ff1a1a;
}

/* Media Query para dispositivos móviles */
@media only screen and (max-width: 600px) {
    #agregar {
        justify-content: center;
        padding: 0;
    }
}