*{
    box-sizing: border-box;
    transition: all 0.3s;
}
body, html{
    margin: 0;
    padding: 0;
}
figure{
    padding: 0;
    margin: 0;
}
figure img{
    width: 100px;
}
body{
    background: url(../img/fondo1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    height: 100vh;
}
header#header{
   /*  backdrop-filter: blur(5px); */
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    min-height: 100vh;
    position: relative;
}
#cont-disparador{
    background: none;
    color: white;
    border: none;
}
#disparador{
    font-size: 30px;
    cursor: pointer;
}
#menu_cont{
    display: none;
    position: absolute;
    min-height: 100vh;
    width: 250px;
    top: 0px;
    left: 0;
    font-weight: bold;
    backdrop-filter: blur(20px);
    z-index: 3;
    animation: slide-in 0.3s ease-in;
}
#menu_cont.visible{
    display: block;
}
    @keyframes slide-in{
        from{
            transform: translateX(-50vw);
        }
        to{
            transform: translateX(0);
        }
    }
.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 92vh;
    font-size: 18px;
}
.interior{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#menu_cont li{
    list-style: none;
    padding: 10px;
    margin-right: 20px;
    border-radius: 10px;
}
#menu_cont li a{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: white;
}

#cont-close{
    background: none;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
#close{
    font-size: 20px;
    cursor: pointer;
}
#tresuno{
    display: grid;
    height: 100%;
    gap: 2px;
    padding: 10px 0px;
}

article.mosaicos{
    background: rgb(255, 255, 255, 0.9);
    padding: 15px;
    max-width: 340px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
}
    article.mosaicos .titulo{
        margin: 5px;
    }
    article.mosaicos figure img{
        width: 55px;
    }
    article.mosaicos .parrafo{
        height: 80px;
        overflow: hidden;
        overflow-y: auto;
    }
    article.mosaicos .button{
        background-color: #00324D;
        color: white;
        text-decoration: none;
        padding: 8px;
        border-radius: 5px;
    }
    article.mosaicos .form_busqueda{
        padding-top: 8px;
        display: flex;
        gap: 5px;
        position: relative;
    }
        article.mosaicos .form_busqueda input{
            padding: 5px;
            background: none;
            border: 2px solid #00324D;
            border-radius: 5px;
        }
        article.mosaicos .form_busqueda button{
            background-color: #00324D;
            color: white;
            display: flex;
            align-items: center;
            border-radius: 5px;
            border: none;
        }


@media only screen and (min-width: 768px){
    figure img#logo_sena{
        width: 150px;
    }
    header#header{
        width: 300px;
        backdrop-filter: blur(20px);
        animation: slide-in 0.3s ease-in;
    }
    #menu_cont{
        display: block;
        position: static;
        animation: none;
        backdrop-filter: none;
        min-height: 0vh;
    }
    .menu{
        height: 83vh;
    }
    #cont-close{
        display: none;
    }
    #cont-disparador{
        display: none;
    }
}
@media only screen and (min-width: 1000px){
    header#header{
        width: 350px;
    }
}

@media only screen and (max-height: 895px){
    .parrafo{
        display: none;
    }
    #tresuno{
        gap: 2%;
        overflow: hidden;
        overflow-y: auto;
        margin: 0;
    }
    article.mosaicos .button{
        margin-top: 15px;
    }
    .menu{
        height: 78vh; 
    }
}
@media only screen and (min-height: 1000px){
    #tresuno{
        gap: 2%;
    }
}