*{
    box-sizing: border-box;
    transition: all 0.3s;
}
body, html{
    margin: 0;
    padding: 0;
}
figure{
    padding: 0;
    margin: 0;
}
html{
    height: 100%;
}
body{
    background: url(../img/fondo1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
    display: grid;
    grid-template: 
        "header" 100px
        "tresuno"
        "footer" 50px;
}
    header#header{
        display: flex;
        align-items: center;
        grid-area: header;
        position: relative;
    }
    #menu_cont{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 0px;
        top: 0px;
        height: 100vh;
        width: 160px;
        box-shadow: 0 0 0 90vmax rgba(0, 0, 0, 0.5);
        background-color: #39A900;
        display: none;
        z-index: 2;
    }
    #menu_cont.visible{
        display: block;
    }
    #cont-disparador{
        position: absolute;
        right: 20px;
        background: none;
        border: none;
    }
    #disparador{
        color: white;
        font-size: 30px;
    }
    #cont-close{
        background: none;
        border: none;
        padding: 10px;
    }
    #close{
        color: white;
    }
    header li{
        padding: 15px;
        list-style-type: none;
    }
    header a{
        text-decoration: none;
        color: white;
    }
        #logo_sena{
            width: 90px;
            height: 80px;
        }
    .tresuno{
        grid-area: tresuno;
        display: grid;
        flex-wrap: wrap;
        justify-content: flex-end;
        grid-template-columns: 300px;
        gap: 0.5%;
    }
        article#art_tractores{
            display: flex;
            place-content: center;
            align-items: center;
            flex-direction: column;
            padding: 20px;
            border-radius: 5px;
            /* box-shadow:
            0 0 0 2px rgb(255, 255, 255),
            0.3em 0.3em 1em rgba(0, 0, 0, 0.3); */
            background-color: rgba(255, 255, 255, 0.9);
        }
            h1#titulo1{
                font-size: clamp(5px, 5vw, 15px);
            }
                img#foto_tractor{
                    width: 60px;
                    height: 50px;
                }
            p#parrafo_tractores{
                font-size: clamp(5px, 5vw, 12px);
            }
                button#button_tractores{
                    font-size: clamp(5px, 5vw, 12px);
                    padding: 7px;
                    border-radius: 5px;
                }
        
        article#art_herramientas{
            display: flex;
            align-items: center;
            flex-direction: column;
            place-content: center;
            padding: 20px;
            border-radius: 5px;
            /* box-shadow:
            0 0 0 2px rgb(255, 255, 255),
            0.3em 0.3em 1em rgba(0, 0, 0, 0.3); */
            background-color: rgba(255, 255, 255, 0.9);
        }
            h1#titulo2{
                font-size: clamp(5px, 5vw, 15px);
            }
                img#foto_herramienta{
                    width: 60px;
                    height: 50px;
                }
                input#buscar_herramientas{
                    font-size: clamp(5px, 5vw, 12px);
                    border-radius: 5px;
                    padding: 3px;
                }
                button#button_iconoh{
                    font-size: clamp(5px, 5vw, 12px);
                    border-radius: 5px;
                    padding: 3px;
                }
            p#parrafo_herramientas{
                font-size: clamp(5px, 5vw, 12px);
            }
        article#art_insumos{
            display: flex;
            align-items: center;
            flex-direction: column;
            place-content: center;
            padding: 10px;
            border-radius: 5px;
            /* box-shadow:
            0 0 0 2px rgb(255, 255, 255),
            0.3em 0.3em 1em rgba(0, 0, 0, 0.3); */
            background-color: rgba(255, 255, 255, 0.9);
        }
            h1#titulo3{
                font-size: clamp(5px, 5vw, 15px);
            }
                img#foto_insumo{
                    width: 60px;
                    height: 50px;
                }
                input#buscar_insumo{
                    font-size: clamp(5px, 5vw, 12px);
                    border-radius: 5px;
                    padding: 3px;
                }
                button#button_iconoi{
                    font-size: clamp(5px, 5vw, 12px);
                    border-radius: 5px;
                    padding: 3px;
                }
            p#parrafo_insumos{
                font-size: clamp(5px, 5vw, 12px);
            }

        article button{
            border: none;
            background-color: #36A900;
            font-size: clamp(5px, 5vw, 12px);
            border-radius: 5px;
            padding: 7px;
        }
        article a{
            text-decoration: none;
            color: white;
        }
        #iconocolor{
            color: white;
            padding: 2px;
        }
        #icono_buscar{
            color: white;
            cursor: pointer;
        }
#footer{
    color: white;
    place-content: center;
}
@media only screen and (min-width: 1000px){
    #menu_cont{
        display: block;
        background: none;
        box-shadow: none;
        height: 100px;
        width: 100%;
    }
    #cont-disparador, #cont-close{
        display: none;
    }
    .interior{
        display: flex;
        justify-content: flex-end;
    }
}

@media only screen and (max-height: 700px){
    p{
        display: none;
    }
}