:root{
    --logo-sena: #39A900;
    --azul-dark: #00324D;
    --azul-claro: #82DED0;
    --amarrillo: #FFCE40;
    --crema: #FBFBE2;
    --verde-palido: #385C57;
    --salmon: #CB7766;
    --blanco: #fefefe;
    --negro: #070707;
}

*{
    box-sizing: border-box;
    transition: all 0,3s;
}
::placeholder, ::-moz-placeholder{
    color: inherit;
    font-family: inherit;
}
figure{
    margin: auto;
    padding: 0;
    width: 210px;
}
    figure img{
        margin: 0;
        padding: 0;
        width: 100%;
    }
body, html{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    font-size: 16px;
    min-height: 100vh;
    min-width: 100vw;
}
#cuerpo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    background: url(../img/fondo_hangar_dark.jpg) center center / cover no-repeat;
}

form#login {
    background-color: var(--blanco);
    padding: 20px;
    min-width: 320px;
}

h2#alerta {
    text-align: center;
    color: #df1c1c; 
    font-size: 15px;
}
label {
    display: block;
    margin: 10px 0 5px;
    color: var(--negro); 
    font-size: 0.8em;
}
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 32px;
    border: none;
    border-bottom: solid 1px var(--negro);
}
a#registrar{
    color: var(--logo-sena); 
    cursor: pointer;
    display: block;
    text-align: center;
    margin: 20px 0 0 0;
    text-decoration: none;
    font-size: 12px;
}
div#boton{
    display: flex;
    justify-content: center;
}
    button {
        background-color: var(--logo-sena); 
        border: none;
        color: var(--blanco); 
        cursor: pointer;
        margin-top: 15px;
        padding: 10px;
        width: 100%;
        font-size: 20px;
    }
    button:hover {
        background-color: #45a049; 
    }

@media screen and (min-width: 800px) {

    #logo{
        display: none;
    }
    #cuerpo {
        justify-content: flex-end;
    }
    form#login {
        padding: 20px;
        min-width: 320px;
        margin-right: 20%;
    }
    
}

@media screen and (min-width: 1000px) {
    form#login {
        min-width: 350px;
    }
    
}
@media screen and (min-width: 1800px) {
    form#login {
        min-width: 420px;
        min-height: 200px;
        padding: 30px;
    }
    label {
        font-size: 25px;
    }
}