@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;600&display=swap');

:root{
    --logo-sena: #39A900;
    --azul-dark: #00324D;
    --azul-claro: #82DED0;
    --amarrillo: #FFCE40;
    --crema: #FBFBE2;
    --verde-palido: #385C57;
    --salmon:#CB7766;
}

*{
    box-sizing: border-box;
    transition: all 0,3s;
}
::placeholder, ::-moz-placeholder{
    color: inherit;
    font-family: inherit;
}
figure{
    margin: 0;
    padding: 0;
}
    figure img{
        margin: 0;
        padding: 0;
        width: 100%;
    }
body, html{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    min-height: 100vh;
    width: 100vw;
}
header#header{
    background-color: green;
    display: flex;
    align-items: center;
}
#menu_cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100vh;
    width: 160px;
    box-shadow: 0 0 0 90vmax rgba(0, 0, 0, 0.5);
    background-color: green;
    display: none;
}
#menu_cont.visible{
    display: block;
}
#cont-disparador{
    position: absolute;
    right: 20px;
    background: none;
    border: none;
}
#disparador{
    color: white;
    font-size: 30px;
}
#cont-close{
    background: none;
    border: none;
    padding: 10px;
}
#close{
    color: white;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li{
    white-space: nowrap;
    padding: 15px;
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
}
header a{
    text-decoration: none;
    color: white;
}
#logo_sena{
    width: 90px;
    height: 80px;
}



section#cont_mayor{
    background-color:var(--crema);
    margin: 0;
    padding: 11px 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
        h2 {
            padding: 10px;
            color: var(--logo-sena);
        }
    #titulo{
    font-size: 16px;
    margin-bottom: 20px;
    }

    section#cont_paneles{
        background-color:var(--crema);
        margin: 0;
        padding: 2em 1em;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        align-content: space-evenly; 
    }
        section#cont_link {
            display: flex;
        }

.mosaico{
    background-color: var(--logo-sena);
    border-radius: 16px;
    box-shadow: 0 2px 11px rgba(9, 13, 17, 0.33);
    margin: 0 0 2em 0;
    padding: 1em;
    width: clamp(308px, 92%, 400px);
}
    .mosaico h2{
        color: #000;
        font-size: 2.1em;
        line-height: 1em;
        margin: 0 0 13px 0;
    }
    .mosaico h6{
        color: var(--azul-dark) ;
        font-size: 1em;
        line-height: 1em;
        margin: 0 0 13px 0;
    }
    .mosaico form{
        position: relative;
        z-index: 1;
        margin: 0 0 21px 0;
    }
    .mosaico a{
        background-color: var(--salmon);
        border-radius: 2em;
        color: var(--crema);
        font-size: 1.5em;
        font-weight: 600;
        margin: 0px;
        padding: 13px 0;
        text-decoration: none;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    

@media only screen and (min-width: 1000px){
    #menu_cont{
        display: block;
        background: none;
        box-shadow: none;
    }
    #cont-disparador, #cont-close{
        display: none;
    }
    .interior{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }  
    .mosaico {
    width: calc(33.33% - 20px); /* Ajusta según tus necesidades */
    }
    }