@font-face{
    font-family: 'work';
    src: url(../fuentes/tipografiaprincipal/WorkSans-Medium.ttf);
    src: url(../fuentes/tipografiaprincipal/WorkSans-Medium.woff),
        url(../fuentes/tipografiaprincipal/AnyConv.com__WorkSans-Medium.eot),
        url(../fuentes/tipografiaprincipal/AnyConv.com__WorkSans-Medium.eot?iefix) format('embedded-opentype');
        font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: 'calibri';
    src: url(../fuentes/tipografiasecundaria/CalibriRegular.ttf);
    src: url(../fuentes/tipografiasecundaria/Calibri-Regular.woff),
        url(../fuentes/tipografiasecundaria/AnyConv.com__CalibriRegular.eot),
        url(../fuentes/tipografiasecundaria/AnyConv.com__CalibriRegular.eot?iefix) format('embedded-opentype');
        font-style: normal;
    font-weight: normal;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#00324D;
}

header {
    padding: 20px;
    text-align: center;
    background-color: #39A900;
    color: white;
    position: relative;
}

header img {
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 50px;
    height: auto;
}

.tractor-container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #CB7766;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.tractor-info {
    margin-bottom: 20px; 
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

.solicitar-button {
    background-color: #39A900;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}