/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background: url('https://c.wallhere.com/photos/e7/84/farm_farmland_farmfield_dusk_lancaster_amish_pennsylvania_canon-404813.jpg!d') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Formulario */
.formulario {
    max-width: 600px;
    margin: 20px auto;
    padding: 22px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario h2 {
    margin-bottom: 20px;
    color: #333;
}

.campo label {
    display: block;
    margin-bottom: 5px;
}

.campo input[type="text"] {
    width: 96%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    transition: border-color 0.3s ease;
}

.campo input[type="text"]:focus {
    border-color: #39A900;
}

.campo button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.campo button:hover {
    background-color: #39A900;
}
