@font-face{
    font-family: 'work';
    src: url(../fuentes/tipografiaprincipal/WorkSans-Medium.ttf);
    src: url(../fuentes/tipografiaprincipal/WorkSans-Medium.woff),
        url(../fuentes/tipografiaprincipal/AnyConv.com__WorkSans-Medium.eot),
        url(../fuentes/tipografiaprincipal/AnyConv.com__WorkSans-Medium.eot?iefix) format('embedded-opentype');
        font-style: normal;
    font-weight: normal;
  }
  @font-face{
    font-family: 'calibri';
    src: url(../fuentes/tipografiasecundaria/CalibriRegular.ttf);
    src: url(../fuentes/tipografiasecundaria/Calibri-Regular.woff),
        url(../fuentes/tipografiasecundaria/AnyConv.com__CalibriRegular.eot),
        url(../fuentes/tipografiasecundaria/AnyConv.com__CalibriRegular.eot?iefix) format('embedded-opentype');
        font-style: normal;
    font-weight: normal;
  }
body {
    font-family: 'work', 'calibri';
    background-image: url(../img/fndtractor.jpg); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85vh;
    padding: 10px;
}

form#formulario{
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-right: 60px;
    max-width: 450px;
}

#cont_medio{
    padding: 20px;
}

section h2 {
    margin-top: 0;
    background-color: #39A900;
    padding: 10px;
    text-align: center;
    color: white;
}

section h4 {
    text-align: center;
    color: #333;
    font-size: 1em;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-weight: bold;
}

input[type="text"],
select,
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button[type="submit"],
a.btn-cancelar {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

button[type="submit"].btn-guardar {
    background-color: #00324D;
    color: white;
}

button[type="submit"].btn-guardar:hover {
    background-color: rgb(243, 243, 243);
    color: #39A900;
}

a.btn-cancelar {
    background-color: #d00000;
    color: white;
}

a.btn-cancelar:hover {
    background-color: #d00000;
}

@media (max-width: 600px) {
    section {
        justify-content: center;
    }
    form#formulario{
        margin-right: 0;
    }
}

@media only screen and (max-height: 917px) {
    section {
        align-items: start;
    }
}
