@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;600&display=swap');

:root{
    --logo-sena: #39A900;
    --azul-dark: #00324D;
    --azul-claro: #82DED0;
    --amarrillo: #FFCE40;
    --crema: #FBFBE2;
    --verde-palido: #385C57;
    --salmon:#CB7766;
}

*{
    box-sizing: border-box;
    transition: all 0,3s;
    font-family: Arial;
}
::placeholder, ::-moz-placeholder{
    color: inherit;
    font-family: inherit;
}
figure{
    margin: 0;
    padding: 0;
}
    figure img{
        margin: 0;
        padding: 0;
    }
body, html{
    margin: 0;
    padding: 0;
}
section#cont_mayor{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
}

div#cont_paneles{
    display: grid;
    grid-template-columns: repeat(1, 270px);
    gap: 25px;
}

article#reservas{
    border: none;
    background-color: white;
    box-shadow:
            0px 0px 0px 0px rgb(255, 255, 255),
            0em 0em 1em rgba(0, 0, 0, 0.3);
}

.img-thumbnail{
    height: 150px;
    width: 100%;
}
    #img-bd{
        width: 100%;
        height: 100%;
    }

#cont_bajo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}
    div#cont_bot{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }  
    div#cont_bot a i{
        font-size: 22px;
        background-color: #00324D;
        color: white;
        padding: 8px;
        border-radius: 10px;
        transition: all 0.2s;
        position: relative;
    }
        div#cont_bot a i p#tooltip1, p#tooltip2{
            padding: 13px;
            font-size: 12px;
            border-radius: 10px 0px 0px 10px;
            opacity: 0;
            pointer-events: none;
        }
        div#cont_bot a i p#tooltip1{
            position: absolute;
            top: -12px;
            right: 35px;
            width: 110px;
            text-align: center;
            background-color: #00324D;
        }
            div#cont_bot a i:hover p#tooltip1{
                opacity: 1;
                pointer-events: auto;
            }
        div#cont_bot a i p#tooltip2{
            position: absolute;
            bottom: -12px;
            right: 35px;
            background-color: #00324D;
        }
            div#cont_bot a i:hover p#tooltip2{
                opacity: 1;
                pointer-events: auto;
            }
    div#cont_bot a i#delete{
        background-color: #b8b8b8;
        color: red;
    }
        div#cont_bot a i#delete:hover{
            border-radius: 0px 10px  10px 0px;
        }
    div#cont_bot a i:hover{
        border-radius: 0px 10px  10px 0px;
    }
    #cont-i{
        display: flex;
        justify-content: center;
    }
    #cont_h5{
        font-size: 15px;
    }

#cont_link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 10px;
}
    #cont_link .btnmosatwo{
       background-color: #00324D;
       padding: 12.2px;
       font-size: 12px;
       border-radius: 10px;
       color: white;
       text-align: center;
       transition: all 0.2s;
    }

        #cont_link .btnmosatwo:hover{
            background-color: #00111a;
        }
    #cont_link a i{
        font-size: 22px;
        background-color: #b8b8b8;
        color: red;
        padding: 8px;
        border-radius: 10px;
        transition: all 0.2s;
        position: relative;
    }
        #cont_link a i:hover{
            border-radius: 10px 0px 0px 10px;
        }
    div#cont_link a i p#tooltip3{
        position: absolute;
        top: -12px;
        font-size: 12px;
        text-align: center;
        width: 85px;
        border-radius: 0px 10px 10px 0px;
        left: 36px;
        padding: 13px;
        text-align: center;
        background-color: #b8b8b8;
        opacity: 0;
        pointer-events: none;
    }
    div#cont_link a i:hover p#tooltip3{
        opacity: 1;
        pointer-events: auto;
    }

@media only screen and (min-width: 768px){

    div#cont_paneles{
        grid-template-columns: repeat(2, 270px);
        gap: 35px;
    }
    
}

@media only screen and (min-width: 1280px){
    div#cont_paneles{
        grid-template-columns: repeat(3, 270px);
        gap: 40px;
    }
}