@font-face{
  font-family: 'work';
  src: url(../fuentes/tipografiaprincipal/WorkSans-Medium.ttf);
  src: url(../fuentes/tipografiaprincipal/WorkSans-Medium.woff),
      url(../fuentes/tipografiaprincipal/AnyConv.com__WorkSans-Medium.eot),
      url(../fuentes/tipografiaprincipal/AnyConv.com__WorkSans-Medium.eot?iefix) format('embedded-opentype');
      font-style: normal;
  font-weight: normal;
}
@font-face{
  font-family: 'calibri';
  src: url(../fuentes/tipografiasecundaria/CalibriRegular.ttf);
  src: url(../fuentes/tipografiasecundaria/Calibri-Regular.woff),
      url(../fuentes/tipografiasecundaria/AnyConv.com__CalibriRegular.eot),
      url(../fuentes/tipografiasecundaria/AnyConv.com__CalibriRegular.eot?iefix) format('embedded-opentype');
      font-style: normal;
  font-weight: normal;
}
body {
  background-image: url(../img/fndtractor.jpg); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: 'work', 'calibri';
}


#agregar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

form {
  background-color: #ffffff;
  border-radius: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  width: clamp(300px, 85%, 350px);
  box-sizing: border-box;
}

form h2 {
  margin-top: 0;
  text-align: center;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #36A900;
}

form h4 {
  text-align: center;
  color: #ff4d4d; 
  margin-bottom: 20px;
}

#medio{
  padding: 0px 20px 20px;
}


label {
  display: block;
  margin-bottom: 8px;
  color: #555555;
  font-weight: bold;
}
  
  input[type="text"],
  select,
  input[type="file"] {
    width: 100%; 
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    width: 100%; 
    background-color: #00324D;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button[type="submit"]:hover {
    background-color: rgb(243, 243, 243);
    color: #36A900;
  }
  
  @media only screen and (min-width: 768px) {
    #agregar {
      justify-content: flex-end;
      padding: 0px 50px;
    }
  
    input[type="text"],
    select,
    input[type="file"] {
      padding: 12px; 
    }
  
    button[type="submit"] {
      padding: 12px; 
      font-size: 18px; 
    }
  }
  