@font-face{
    font-family: 'work';
    src: url(../fuentes/tipografiaprincipal/WorkSans-Medium.ttf);
    src: url(../fuentes/tipografiaprincipal/WorkSans-Medium.woff),
        url(../fuentes/tipografiaprincipal/AnyConv.com__WorkSans-Medium.eot),
        url(../fuentes/tipografiaprincipal/AnyConv.com__WorkSans-Medium.eot?iefix) format('embedded-opentype');
        font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: 'calibri';
    src: url(../fuentes/tipografiasecundaria/CalibriRegular.ttf);
    src: url(../fuentes/tipografiasecundaria/Calibri-Regular.woff),
        url(../fuentes/tipografiasecundaria/AnyConv.com__CalibriRegular.eot),
        url(../fuentes/tipografiasecundaria/AnyConv.com__CalibriRegular.eot?iefix) format('embedded-opentype');
        font-style: normal;
    font-weight: normal;
}

body {
    background-image: url(../img/fndnvd.jpg); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: 'work', 'calibri';
}

.container {
    display: flex;
    justify-content: flex-end; 
}

.form-container {
    width: 450px; 
    margin-top: 16px;
    background-color: rgb(245, 245, 245); 
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px; 
    margin-left: 64%; 
    margin-right: 64%; 
}


form {
    margin-top: 20px;
}

h1.logo {
    text-align: center;
}

form h1 {
    text-align: center;
    color: #333; 
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-weight: bold;
}

textarea, input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
}

textarea {
    resize: vertical; 
}

button[type="submit"] {
    width: 100%;
    background-color: #00324D;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #00324D;
}

/* Media Queries para Responsividad */
@media (max-width: 1242px) {
    .form-container {
        width: 70%; 
        margin-left: auto;
        margin-right: auto; 
    }
}

@media (max-width: 600px) {
    .container {
        flex-direction: column; 
        align-items: center; 
    }
  
    .form-container {
        width: 90%; 
    }
}
