<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/novedades.css">
    <title>Novedades</title>
</head>
<body>
    <main>

        <header id="cabeza">

            <figure id="marca"><img src="../../static/img/LogoSenaSinFondo.png" alt="SENA logotipo"></figure>
    
            <h1>Hangar</h1>
    
            <nav id="menu_admor">
                <i class="lni lni-menu" id="disparador"></i>
                <ul id="opcs_menu">
                    <li><a href="/usuarios">Usuarios</a></li>
                    <li><a href="/funciones">Funciones Admin</a></li>
                    <li><a href="/agregarTractor" >Agregar Tractores</a></li>
                    <li><a href="/">CERRAR SESIÓN</a></li>
                </ul>
            </nav>
        </header>

        <a href="/Correcto">Inicio</a>

        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Id del objeto</th>
                    <th>Prestado</th>
                    <th>Tipo</th>
                    <th>Fecha</th>                    
                    <th>Descripcion</th>
                    <th>Foto</th>
                    <th>Creador</th>
                </tr>
            </thead>
            <tbody>
                {% for nove in res %}
                <tr>
                    <th>{{nove[0]}}</th>
                    <th>{{nove[1]}}</th>
                    <th><a href="/perfil/{{ nove[2] }}">{{ nove[2] }}</a></th>                    
                    <th>{{nove[3]}}</th>
                    <th>{{nove[4]}}</th>
                    <th>{{nove[5]}}</th>
                    <th>{{nove[6]}}</th>
                    <th><a href="/perfil/{{ nove[2] }}">{{ nove[7] }}</a></th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>