<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/css/styles_form.css">
    <title>Agregar Novedad</title>
</head>
<body>
    <h1 class="logo" style="text-align: center;">Agregar Novedad</h1>
    <div class="form-container">
        <form method="POST" action="/guardarnovedad" enctype="multipart/form-data">

            <label for="id_objeto">ID Objeto:</label>
            <input type="text" id="id_objeto" name="id_objeto" pattern="[0-9a-z]{5,15}" required minlength="5" maxlength="15">

            <label for="tipo">Tipo:</label>
            <select id="tipo" name="tipo" required>
                <option value="tractores">Tractores</option>
                <option value="herramientas">Herramientas</option>
                <option value="consumibles">Consumibles</option>
            </select>

            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion" required minlength="10" maxlength="200"></textarea>

            <label for="foto">Foto:</label>
            <input type="file" id="foto" name="foto">

            <button type="submit" class="btn-submit">Agregar Novedad</button>
        </form>
    </div>
</body>
</html>
