<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/modificarTractores.css">
    <title>Modificar Tractor</title>
</head>
<body>
    <main>

        <header>
            <h2>Modificar Tracores</h2>
        </header>

        <section>
            <form action="/actualizarTractor" method="post" enctype="multipart/form-data">

                <label for="id_tractor">Codigo sena</label>
                <input type="text" name="id_tractor" id="id_tractor" readonly value="{{tractor[3]}}">

                <label for="id_categoria">Categoria:</label>
                <select name="id_categoria" id="id_categoria" value="{{tractor[1]}}">
                    <option value="{{tractor[7]}}">{{tractor[8]}}</option>
                    {% for categoria in categorias %}
                    <option value="{{ categoria[0] }}">{{ categoria[1] }}</option>
                    {% endfor %}
                </select>

                <label for="marca">Marca:</label>
                <input type="text" name="marca" id="marca" value="{{tractor[0]}}" >

                <label for="modelo">Modelo</label>
                <input type="text" name="modelo" id="modelo" value="{{tractor[1]}}">

                <label for="fechamodelo">Año</label>
                <input type="text" name="fechamodelo" id="fechamodelo" value="{{tractor[2]}}">


                <label for="fototrac">Foto:</label>
                <input type="file" name="fototrac" id="fototrac">
                <input type="hidden" name="foto1" value="{{tractor[5]}}">

                {% if tractor[6] == '0' %}
                <label for="activo">Activar</label>
                <select name="activo" id="activo" required>
                    <option value="{{tractor[6]}}">Inactivo</option>
                    <option value="1">Activo</option>
                </select>
                {% endif %}

                <figure class="img-thumbnail" >
                    <img width="100" height="100"  src="../../../uploads/{{tractor[5]}}" alt="{{tractor[0]}} {{tractor[1]}}">
                </figure>

                <button type="submit">Guardar</button>
                <a href="/tractores">Cancelar</a>

            </form>
        </section>

    </main>
</body>
</html>