<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/agregarTractor.css">
    <title>Inicio</title>
</head>
<body>
    
    <main id="cuerpo">
        
        <header id="cabeza">
            <h1>Hangar</h1>
            <a href="/Correcto">Inicio</a>
        </header>

        <section id="agregar">
            <form id="agregar_tractor" name="agregar_tractor" action="/guardarTractor" method="post" enctype="multipart/form-data">
                <h2>Agregar Tractores</h2>
                <h4>{{msg}}</h4>

                <label for="idobjeto">Codigo sena:</label>
                <input type="text" name="idobjeto" id="idobjeto" required>

                <label for="marca">Marca</label>
                <input type="text" name="marca" id="marca" required>

                <label for="modelo">Modelo</label>
                <input type="text" name="modelo" id="modelo" required>

                    <label for="fechamodelo">Año</label>
                    <input type="text" name="fechamodelo" id="fechamodelo" required>

                <label for="idcategoria">Categoria:</label>
                <select name="idcategoria" id="idcategoria" required>
                    <option value="">--Seleccione--</option>
                    {% for categoria in categorias %}
                        <option value="{{ categoria[0] }}" {% if categoria[0]  %}selected{% endif %}>{{ categoria[1] }}</option>
                    {% endfor %}
                </select>

                <label for="fototrac">Foto:</label>
                <input type="file" name="fototrac" id="fototrac">

                <button type="submit">Guardar</button>

            </form>
        </section>

    </main>

</body>
</html>