<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/todoslosTractores.css">
    <title>Tractores</title>
</head>
<body>
    <header id="cabeza">
        <h1>Hangar</h1>
        <a href="/tractores">Inicio</a>
    </header>

    <main id="cuerpo">
        <table>
            <thead>
                <tr>
                    <th>Id Tractor</th>
                    <th>Nombre</th>
                    <th>Categoria</th>
                    <th>Estado</th>
                    <th>Disponibilidad</th>
                    <th>Activo</th>
                </tr>
            </thead>
            <tbody>
                {% for trac in res %}
                    <tr>
                        <td>{{trac[0]}}</td>
                        <td>{{trac[1]}}</td>
                        <td>{{trac[2]}}</td>
                        <td>{{trac[5]}}</td>
                        <td>{{trac[4]}}</td>
                        <td>{{trac[8]}}</td>
                        <td>
                            <a href="editarTractor/{{trac[0]}}">Editar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

</body>
</html>