<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>login</title>
</head>
<body>
    <main>

        <section id="cuerpo">
            
            <nav id="menu_admor">
                <i class="lni lni-menu" id="disparador"></i>
                <ul id="opcs_menu">
                    <li><a href="/consultarTractores">Todos los tractores</a></li>                    
                    <li><a href="/consultarlasHerramientas">Todos las herramientas</a></li>
                    <li><a href="/consultarlosConsumibles">Todos los consumibles</a></li>
                    <li><a href="/consultarCategorias">Categorias</a></li>
                    <li><a href="/novedades">Novedades</a></li>
                    <li><a href="/usuarios">Usuarios</a></li>
                    <li><a href="/aceptarUsuarios">Aceptar usuarios</a></li>

                    
                    <li><a href="/Correcto">Inicio</a></li>
                </ul>
            </nav>

        </section>

    </main>
    
</body>
</html>