<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/index.css">
    <title>SENA HANGAR - Bienvenido</title>
</head>
<body>
    <main id="cuerpo">
        
        <form name="login" id="login" action="/login" method="post">

        <figure id="logo">
            <img src="../static/img/logoSena.png" alt="Logo Sena">
        </figure>

        <h2 id="alerta">{{msg}}</h2>

        <label for="documento">Documento</label>
        <input type="text" name="documento" id="documento" placeholder="C.C. / C.E. / P.E.P" pattern="[0-9]{7,15}" minlength="7" maxlength="15" autofocus tabindex="1"  required>

        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" name="contrasena" required pattern="[0-9]{7,11}" maxlength="15" minlength="6" tabindex="2" placeholder="Numero de celular">

        <div id="boton">
            <button type="submit">INICIAR</button>
        </div>
        <a href="/registrar" id="registrar">Registrar</a>
        

        </form>
    
    </main>
</body>
</html>