<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/registrar.css">
    <title></title>
</head>
<body id="cuerpo">
    <main id="ppal">

        <header id="cabeza">
            <h2>Solicitar</h2>
        </header>

        <section id="cuerpo">

            <form id="Pedir" name="Pedir" action="/prestamo" method="post" enctype="multipart/form-data">

                <figure id="logo">
                    <img src="../static/img/logoSena.png" alt="Logo Sena">
                </figure>

                <input type="hidden" name="idobjeto" value="{{res[0]}}" required>

                <input type="hidden" name="tipo" value="{{tipo}}" required>

                <label for="nombre">Nombre:</label>
                    <input type="text" readonly value="{{res[1]}}" required>

                <label for="labor">Labor:</label>
                    <input type="text" name="labor" id="labor" placeholder="Labor a realizar" tabindex="1" required pattern="[A-Za-z0-9\s*]+{4,50}" autofocus minlength="4" maxlength="50" title="Minimo 4 letras">

                <label for="ficha">Ficha:</label>
                <input type="text" name="ficha" id="ficha" placeholder="Ficha donde se usara" tabindex="2" pattern="[0-9*]{7}" minlength="7" maxlength="7" title="Solo números" >
                                        
                <label for="fecha">Fecha que lo necesita:</label>
                <input type="date" name="fecha" id="fecha" tabindex="3" required max="{{max}}" min="{{min}}">

                {% if tipo=='Insumo' or tipo=='Liquido'  %}
                    <label for="cantidad">Cantidad:</label>
                    <input type="number" name="cantidad" id="cantidad"  pattern="[0-9]{1,4}" minlength="1" maxlength="4" tabindex="4" required >
                {% endif %}
                    
                    <div id="boton">
                        <button type="submit" id="registrar">GUARDAR</button>
                    </div>
                    <a href="/Correcto" id="cancelar">Cancelar</a>
            </form>
        </section>

    </main>
</body>
</html>