<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/registrar.css">
    <title>Registrate</title>
</head>
<body id="cuerpo">
    <main id="ppal">

        <header id="cabeza">
            <h2>Regìstrate</h2>
        </header>

        <section id="cuerpo">
            <form id="registrar" name="registrar" action="/guardarUsarios" method="post" enctype="multipart/form-data">

                <figure id="logo">
                    <img src="../static/img/logoSena.png" alt="Logo Sena">
                </figure>

                <h2 id="alerta">{{msg}}</h2>
                <label for="documento">Documento:</label>
                    <input type="text" name="documento" id="documento" placeholder="C.C. / C.E. / P.E.P" pattern="[0-9]{7,15}" maxlength="15" minlength="7" title="Numero de documento incorrecto o no cumple con los requisitos de un documento" autofocus required tabindex="1">

                <label for="nombre">Nombre:</label>
                    <input type="text" name="nombre"  id="nombre" pattern="[A-Za-z]{2,32}" maxlength="32" minlength="2" placeholder="Nombre" tabindex="2" required >

                <label for="apellido">Apellido:</label>
                    <input type="text" name="apellido" id="apellido" pattern="[A-Za-z]{2,32}" maxlength="32" minlength="2" placeholder="Apellido" tabindex="3" required>

                <label for="celular">Celular:</label>
                    <input type="tel" name="celular" id="celular" inputmode="tel" pattern="[0-9]{10}" maxlength="10" minlength="10" placeholder="Telefono" tabindex="4" required>

                <label for="contrasena">Contraseña:</label>
                    <input type="password" name="contrasena" id="contrasena" placeholder="Contraseña" pattern="[a-zA-Z0-9]{7,11}" maxlength="15" minlength="6" required>

                    
                    <label for="rol">Rol:</label>
                    <select name="rol" id="rol" required>
                        <option value="">Selecione su rol</option>
                        <option value="Aprendiz">Aprendiz</option>
                        <option value="Instructor">Instructor</option>
                        <option value="Practicante">Practicante</option>
                        <option value="Trabajador">Trabajador de planta</option>
                    </select>
                    
                    <label for="ficha">Ficha:</label>
                    <input type="text" name="ficha" placeholder="Ficha" list="fichas">
                    <datalist name="fichas" id="fichas" >
                        {% for ficha in fichas %}
                        <option value="{{ ficha }}" {% if ficha %} selected {% endif %}></option>
                        {% endfor %}
                    </datalist>
                    
                    <div id="boton">
                        <button type="submit" id="registrar">GUARDAR</button>
                    </div>
                    <a href="/" id="cancelar">Cancelar</a>
            </form>
        </section>

    </main>
</body>
</html>