<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/registrar.css">
    <title>Registrar</title>
</head>
<body id="cuerpo">
    <main id="ppal">

        <header id="cabeza">
            <h2>Registrarse</h2>
        </header>

        <section id="cuerpo">
            <form action="/guardarUsarios" method="post" enctype="multipart/form-data" >
                <h2 id="alerta">{{msg}}</h2>
                <input type="text" name="documento" id="documento" placeholder="C.C. / Pas / C.E. / PEP" pattern="[0-9]{7,15}" maxlength="15" minlength="7" title="Numero de documento incorrecto o no cumple con los requisitos de un documento" autofocus required tabindex="1">

                <div class="grupos1">
                    <input type="text" name="nombre"  id="nombre" pattern="[A-Za-z]{2,32}" maxlength="32" minlength="2" placeholder="Nombre" tabindex="2" required >
                    <input type="text" name="apellido" id="apellido" pattern="[A-Za-z]{2,32}" maxlength="32" minlength="2" placeholder="Apellido" tabindex="3" required>
                </div>

                <input type="tel" name="celular" id="celular" inputmode="tel" pattern="[0-9]{10}" maxlength="10" minlength="10" placeholder="Telefono" tabindex="4" required>

                <input type="password" name="contrasena" id="contrasena" placeholder="Contraseña" pattern="[a-zA-Z0-9]{7,11}" maxlength="15" minlength="6" required>

                <select name="rol" id="rol" required>
                    <option value="">Selecione su rol</option>
                    <option value="Aprendiz">Aprendiz</option>
                    <option value="Instructor">Instructor</option>
                    <option value="Instructor">Practicante</option>
                    <option value="Trabajador">Trabajador de planta</option>
                </select>

                <input type="text" name="ficha" placeholder="Ficha" list="fichas">
                <datalist name="fichas" id="fichas" >
                    {% for ficha in fichas %}
                    <option value="{{ ficha }}" {% if ficha %} selected {% endif %}></option>
                    {% endfor %}
                </datalist>

                <button type="submit" id="registrar">REGISTRAR</button>
                <a href="/">Cancelar</a>
            </form>
        </section>

    </main>
</body>
</html>