<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="shortcut icon" href="../static/img/logoSena.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.lineicons.com/4.0/lineicons.css"/>
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/verUsuarios.css">
    <script src="../static/js/menu.js"></script>

    <title>Gestión de Usuarios</title>
</head>
<body>


<header id="header">

    <div id="contenedortitulo">
        <figure id="header_logo">
            <img src="../static/img/LogoSenaSinFondo.png" alt="Logo Sena" id="logo_sena">
        </figure>
        <div id="contenidotitulo">
            <h2 id="titulo">Usuarios</h2>
            <div id="contenidonombre">
                <h4>{{nombreusu}}</h4>
                {% if rolusu == 'Trabajador'%}
                    <h4>Trabajador de Planta</h4>
                {% elif rolusu == 'Admin'%}
                    <h4>Administrador</h4>
                {% else %}
                    <h4>{{rolusu}}</h4>
                {% endif %}
            </div>
        </div>
    </div>


    <button id="cont-disparador">
        <i class="lni lni-menu" id="disparador"></i>
    </button>

    <div id="menu_cont">
    
        <button id="cont-close">
            <i class="lni lni-close" id="close"></i>
        </button>

        <div class="menu">
            <ul class="interior" id="menu_ppal">

                <li>
                    <a href="#" class="btn-n01" id="btn_servicios">PRÉSTAMOS</a>
                    <ul id="menu_servicios" class="menu-n02">
                        <li><a href="/consultarTodosPedidos" class="btn-n02">TODOS LOS PRÉSTAMOS</a></li>
                        <li><a href="/consultarSolicitados" class="btn-n02">SOLICITUDES</a></li>
                        <li><a href="/consultarAceptado" class="btn-n02">POR ENTREGAR</a></li>
                        <li><a href="/consultarprestados" class="btn-n02">PRESTADOS</a></li>
                        <li><a href="/consultarDevueltos" class="btn-n02">DEVUELTOS</a></li>
                        <li><a href="/consultarRechazados" class="btn-n02">RECHAZADOS</a></li>
                    </ul>
                </li>
                
                <li>
                    <a href="#" class="btn-n01" id="btn_tractores">TRACTORES</a>
                    <ul id="menu_tractores" class="menu-n02">
                        <li><a href="/agregarTractor" class="btn-n02">AGREGAR TRACTOR</a></li>
                        <li><a href="/tractores" class="btn-n02">TRACTORES DISPONIBLES</a></li>
                        <li><a href="/consultarTractores" class="btn-n02">TODOS LOS TRACTORES</a></li>
                    </ul>
                </li>
                
                <li>
                    <a href="#" class="btn-n01" id="btn_herramienta">HERRAMIENTAS</a>
                    <ul id="menu_herramienta" class="menu-n02">
                        <li><a href="/agregarHerramienta" class="btn-n02">AGREGAR HERRAMIENTA</a></li>
                        <li><a href="/consultarHerramientas" class="btn-n02">HERRAMIENTAS DISPONIBLES</a></li>
                        <li><a href="/consultarlasHerramientas" class="btn-n02">TODAS LAS HERRAMIENTAS</a></li>
                    </ul>
                </li>
                
                <li>
                    <a href="#" class="btn-n01" id="btn_insumo">INSUMOS</a>
                    <ul id="menu_insumo" class="menu-n02">
                        <li><a href="/agregarConsumibles" class="btn-n02">AGREGAR INSUMOS</a></li>
                        <li><a href="/consultarConsumibles" class="btn-n02">INSUMOS DISPONIBLES</a></li>
                        <li><a href="/consultarlosConsumibles" class="btn-n02">TODOS LOS INSUMOS</a></li>
                    </ul>
                </li>
                
                <li>
                    <a href="#" class="btn-n01" id="btn_liquido">LÍQUIDOS</a>
                    <ul id="menu_liquidos" class="menu-n02">
                        <li><a href="/agregarLiquidos" class="btn-n02">AGREGAR LÍQUIDO</a></li>
                        <li><a href="/consultarLiquidos" class="btn-n02">LÍQUIDOS DISPONIBLES</a></li>
                        <li><a href="/consultarlosLiquidos" class="btn-n02">TODOS LOS LÍQUIDOS</a></li>
                    </ul>
                </li>
                
                <hr>

                <li class="interior">
                    <a href="#" class="btn-n01" id="btn_usuarios">USUARIOS</a>
                    <ul id="menu_usuarios" class="menu-n02">
                        <li><a href="/aceptarUsuarios" class="btn-n02">ACEPTAR USUARIOS</a></li>
                        <li><a href="/usuarios" class="btn-n02">PERSONAS REGISTRADAS</a></li>
                    </ul>
                </li>
                
                <li><a href="/novedades" class="btn-n02">NOVEDADES</a></li>
                
                <li>
                    <a href="#" class="btn-n01" id="btn_categoria">CATEGORÍAS</a>
                    <ul id="menu_categorias" class="menu-n02">
                        <li><a href="/agregarCategoria" class="btn-n02">AGREGAR CATEGORÍAS</a></li>
                        <li><a href="/consultarCategorias" class="btn-n02">CATEGORÍAS REGISTRADAS</a></li>
                    </ul>
                </li>
                
                <li><a href="/graficos" class="btn-n01">GRÁFICOS</a></li>
                <hr>
                <li><a href="/perfilPropio" class="btn-n02">Mi Perfil</a></li>
                <li><a href="/panel" class="btn-n02">Inicio</a></li>
                <li><a href="/" class="btn-n01">Cerrar Sesión</a></li>
                

            </ul>
        </div>
    </div>
</header>
    
<main>
    
    <table>
        <thead>
            <tr>
                <th>Documento</th>
                <th>Nombre Completo</th>
                <th>Celular</th>
                <th>Rol</th>
                <th>Ficha</th>
                <th>Fecha de Registro</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for usu in res %}
            <tr>
                <td data-label="Documento">{{usu[0]}}</td>
                <td data-label="Nombre Completo">{{usu[1]}} {{usu[2]}}</td>
                <td data-label="Celular">{{usu[3]}}</td>
                <td data-label="Rol">
                    {% if usu[5] == 'Trabajador' %}
                        Trabajador de Planta
                    {% else %}
                        {{usu[5]}}
                    {% endif %}
                </td>
                <td data-label="Ficha">{{usu[6]}}</td>
                <td data-label="Fecha de Registro">{{usu[7]}}</td>

                {% if usu[8] == '0' %}
                    <td data-label="Estado">Inactivo</td>
                {% elif usu[8] == '1' %}
                    <td data-label="Estado">Activo</td>
                {% elif usu[8] == '2' %}
                    <td data-label="Estado">En espera</td>
                    <td data-label="Acciones"><a href="/aceptarUsuS/{{usua[0]}}" class="acciones">Aceptar</a></td>
                {% else %}
                    <td data-label="Estado">NO ESTA</td>
                {% endif %}

            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

    
</body>
</html>
