<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/todoslosTractores.css">
    <title>Consumibles</title>
</head>
<body>
    <header id="cabeza">
        <h1>Hangar</h1>
        <a href="/Correcto">Inicio</a>
        <a href="/agregarConsumibles" >Agregar herramientas</a>
    </header>

    <main id="cuerpo">
        <table>
            <thead>
                <tr>
                    <th>Identificador</th>
                    <th>Nombre</th>
                    <th>Categoria</th>
                    <th>Estado</th>
                    <th>Disponibilidad</th>
                    <th>Activo</th>
                </tr>
            </thead>
            <tbody>
                {% for cons in res %}
                    <tr>
                        <td>{{cons[0]}}</td>
                        <td>{{cons[1]}}</td>
                        <td>{{cons[2]}}</td>
                        <td>{{cons[5]}}</td>
                        <td>{{cons[4]}}</td>
                        <td>{{cons[8]}}</td>
                        <td>
                            <a onclick="return confirm('¿Desea editar este insumo?')" href="editarConsumibles/{{cons[0]}}">Editar</a>
                        </td>
                        <td>
                            <a onclick="return confirm('¿Desea eliminar este insumo?')" href="borrarConsumibles/{{cons[0]}}">Eliminar</a>                        

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

</body>
</html>