  <!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/css/tractores.css">
    
    <link rel="shortcut icon" href="../../../static/img/logoSena.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.lineicons.com/4.0/lineicons.css"/>
    <link rel="stylesheet" href="../../../static/css/header.css">
    <script src="../../../static/js/menu.js"></script>
     <title>Tractor INFO</title> 
</head>
<body>
    
    <header id="header">

        <figure>
            <img src="../../../static/img/LogoSenaSinFondo.png" alt="Logo Sena" id="logo_sena">
        </figure>

        <button id="cont-disparador">
            <i class="lni lni-menu" id="disparador"></i>
        </button>

        <div id="menu_cont">

            <button id="cont-close">
                <i class="lni lni-close" id="close"></i>
            </button>

            <div class="menu">
                <ul class="interior" id="menu_ppal">

                    <li class="interior">
                        <a href="#"  class="btn-n01" id="btn_usuarios">Usuarios</a>
                        <ul id="menu_usuarios" class="menu-n02">
                            <li><a href="/usuarios" class="btn-n02">Personas registradas</a></li>
                            <li><a href="/aceptarUsuarios" class="btn-n02">Aceptar usuarios</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"  class="btn-n01" id="btn_tractores">Tractores</a>
                        <ul id="menu_tractores" class="menu-n02">
                            <li><a href="/consultarTractores" class="btn-n02">Todos los tractores</a></li>
                            <li><a href="/tractores" class="btn-n02">Tractores disponibles</a></li>
                            <li><a href="/agregarTractor" class="btn-n02">Agregar tractor</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"  class="btn-n01" id="btn_herramienta">Herramientas</a>
                        <ul id="menu_herramienta" class="menu-n02">
                            <li><a href="/consultarlasHerramientas" class="btn-n02">Todas las herramientas</a></li>
                            <li><a href="/consultarHerramientas" class="btn-n02">Herramientas disponibles</a></li>
                            <li><a href="/agregarHerramienta" class="btn-n02">Agregar herramienta</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"  class="btn-n01" id="btn_insumo">Insumos</a>
                        <ul id="menu_insumo" class="menu-n02">
                            <li><a href="/consultarlosConsumibles" class="btn-n02">Todos los insumos</a></li>
                            <li><a href="/consultarConsumibles" class="btn-n02">Insumos disponibles</a></li>
                            <li><a href="/agregarConsumibles" class="btn-n02">Agregar insumos</a></li>

                            <li>
                                <a href="#"  class="btn-n01" id="btn_liquido">Liquidos</a>
                                <ul id="menu_liquidos" class="menu-n03">
                                    <li><a href="/consultarlosLiquidos" class="btn-n03">Todos los liquidos</a></li>
                                    <li><a href="/consultarLiquidos" class="btn-n03">Liquidos disponibles</a></li>
                                    <li><a href="/agregarLiquidos" class="btn-n03">Agregar liquido</a></li>
                                </ul>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <a href="#"  class="btn-n01" id="btn_servicios">Servicios</a>
                        <ul id="menu_servicios" class="menu-n02">
                            <li><a href="/consultarTodosPedidos" class="btn-n02">Todos los pedidos</a></li>
                            <li><a href="/consultarSolicitados" class="btn-n02">Solicitudes</a></li>
                            <li><a href="/consultarAceptado" class="btn-n02">Por entregar</a></li>
                            <li><a href="/consultarprestados" class="btn-n02">Prestados</a></li>
                            <li><a href="/consultarDevueltos" class="btn-n02">Devueltos</a></li>
                            <li><a href="/consultarRechazados" class="btn-n02">Rechazados</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"  class="btn-n01" id="btn_categoria">Categorias</a>
                        <ul id="menu_categorias" class="menu-n02">
                            <li><a href="/consultarCategorias" class="btn-n02">Categorias registradas</a></li>
                            <li><a href="/agregarCategoria" class="btn-n02">Agregar categorias</a></li>
                        </ul>
                    </li>

                    <li><a href="/novedades" class="btn-n02">Novedades</a></li>

                    <li><a href="/graficos"  class="btn-n01">Graficos</a></li>
                    <li><a href="/"  class="btn-n01">CERRAR SESIÓN</a></li>

                </ul>
            </div>
        </div>
    </header>
   

    
    <div class="contenedor-tablas">
        <table class="tabla">
    <thead>
        <tr>
            <th>
                Caracteristicas

            </th>
            <th>
                Datos

            </th>
            <!-- <th>Segunda tabla fotos</th> -->
        </tr>
    </thead>
    <tbody>
        <!-- {% for trac in res %} -->
        
        

        <tr>
            <td>Codigo Sena</td>
            <td coslpan="2">{{ trac[0] }}</td>
        </tr>
        <tr>
            <td>Marca</td>
            <td colspan="2">{{ trac[6] }}</td>
        </tr>
        <tr>
            
            <td>Modelo</td>
            <td colspan="2">{{ trac[7] }}</td>
        </tr>
        <tr>
            <td>Año</td>
            <td colspan="2">{{ trac[8] }}</td>
        </tr>
        <tr>
            <td>No. De serie De Tractor</td>
            <td colspan="2">{{ trac[9] }}</td>
        </tr>
        <tr>
            <td>No. Serie Motor</td>
            <td colspan="2">{{ trac[10] }}</td>
        </tr>
        <tr>
            <td>Potencia Del Motor (HP)</td>
            <td colspan="2">{{ trac[11] }}</td>
        </tr>
        <tr>
            <td>Peso Del Tractor (KG)</td>
            <td colspan="2">{{ trac[12] }}</td>
        </tr>
        <tr>
            <td>Numero De Cilindro</td>
            <td colspan="2">{{ trac[13] }}</td>
        </tr>
        <tr>
            <td>Tipo De Motor (Linea / V)</td>
            <td colspan="2">{{ trac[14] }}</td>
        </tr>
        <tr>
            <td>Numero De Cambio De Hacia Adelante</td>
            <td colspan="2">{{ trac[15] }}</td>
        </tr>
        <tr>
            <td>Numero De Cambio En Reversa</td>
            <td colspan="2">{{ trac[16] }}</td>
        </tr>
        
    
</table>
<br>

<table class="tabla">
    <thead>
        <tr>
            <th>
                Caracteristicas

            </th>
            <th>
                Datos

            </th>
           
        </tr>
    </thead>
    <tbody>
        


        <tr>
            <td>Tipo De Traccion (4x2 / 4x4 )</td>
            <td colspan="2">{{ trac[17] }}</td>
        </tr>
        <tr>
            <td>Distancia Entre Ejes (mm) -A</td>
            <td colspan="2">{{ trac[18] }}</td>
        </tr>
        <tr>
            <td>Altura Del Piso Al Centro Del Eje Delantero (mm)-M</td>
            <td colspan="2">{{ trac[19] }}</td>
        </tr>
        <tr>
            <td>Altura Total (mm)-H</td>
            <td colspan="2">{{ trac[20] }}</td>
        </tr>
        <tr>
            <td>Altura Del Eje Trasero Al Techo De La Cabina (mm)-I</td>
            <td colspan="2">{{ trac[21] }}</td>
        </tr>
        <tr>
            <td>Altura Maxima Baja La Maquina (mm)-K</td>
            <td colspan="2">{{ trac[22] }}</td>
        </tr>
        <tr>
            <td>Longitud Total -Incluida La Barra De Tiro (mm)-B</td>
            <td colspan="2">{{ trac[23] }}</td>
        </tr>
        <tr>
            <td>Ancho Total (mm)-F</td>
            <td colspan="2">{{ trac[24] }}</td>
        </tr>
        <tr>
            <td>Ancho Total (mm)-G</td>
            <td colspan="2">{{ trac[25] }}</td>
        </tr>
        <tr>
            <td>Altura Del Piso Al Diferencial Delantero (mm)-L</td>
            <td colspan="2">{{ trac[26] }}</td>
        </tr>
        <tr>
            <td>Altura Del Piso Al Diferencial Trasero (mm)-N</td>
            <td colspan="2">{{ trac[27] }}</td>
        </tr>
        <tr>
            <td>Distancia Del Piso Al tiro (mm)-O</td>
            <td colspan="2">{{ trac[28] }}</td>
        </tr>
        <tr>
            <td>Toma Fuerza - Numero De Estrias</td>
            <td colspan="2">{{ trac[29] }}</td>
        </tr>
        <tr>
            <td>Toma Fuerza - rpm TDF/RPM Motor</td>
            <td colspan="2">{{ trac[30] }}</td>
        </tr>  
    
</table>
</div>

<br>



<div class="contenedor-tablas">
    <table class="tabla">
    <thead>
        <tr>
            <th>
                Caracteristicas

            </th>
            <th>
                Datos

            </th>
           
        </tr>
    </thead>
    <tbody>
      


        <tr>
            <td>Tipo De Inyeccion De Combustible (Normal/Common Rail)</td>
            <td colspan="2">{{ trac[31] }}</td>
        </tr>
        <tr>
            <td>Marca De La Bomba De Inyeccion</td>
            <td colspan="2">{{ trac[32] }}</td>
        </tr>
        <tr>
            <td>Referencia De La Bomba De Inyeccion</td>
            <td colspan="2">{{ trac[33] }}</td>
        </tr>
        <tr>
            <td>Tensiones De La Llantas Trasera Segun Referencia</td>
            <td colspan="2">{{ trac[34] }}</td>
        </tr>
        <tr>
            <td>Tencion Maxima De Las Llantas Trasera</td>
            <td colspan="2" >{{ trac[35] }}</td>
        </tr>
        <tr>
            <td>Carga Maxima Puede Soportar La Rueda Trasera</td>
            <td colspan="2">{{ trac[36] }}</td>
        </tr>
        <tr>
            <td>Desgaste De Las Ruedas Trasera (mm)</td>
            <td colspan="2">{{ trac[37] }}</td>
        </tr>
        <tr>
            <td>Dimesiones De Las Llantas Delanteras Segun Referencia </td>
            <td colspan="2">{{ trac[38] }}</td>
        </tr>
        <tr>
            <td>Presion Maxima De Las Llantas Delanteras</td>
            <td colspan="2">{{ trac[39] }}</td>
        </tr>
        <tr>
            <td>Carga Maxima Puede Soportar La Rueda Delantera (KG)</td>
            <td colspan="2">{{ trac[40] }}</td>
        </tr>
        <tr>
            <td>Desgaste De Las Ruedas Delantera (mm)</td>
            <td colspan="2">{{ trac[41] }}</td>
        </tr>

</table>


<br>


    <table class="tabla">
    <thead>
        <tr>
            <th>
                Caracteristicas

            </th>
            <th>
                Datos

            </th>
          
        </tr>
    </thead>
    <tbody>
        

        <tr>
            <td>Aceite Motor</td>
            <td colspan="2">{{ trac[42] }}</td>
        </tr>
        <tr>
            <td>Aceite Hidraulico</td>
            <td colspan="2">{{ trac[43] }}</td>
        </tr>
        <tr>
            <td>Aceite Transmision</td>
            <td colspan="2">{{ trac[44] }}</td>
        </tr>
        <tr>
            <td>Aceite De Diferencial Delantera</td>
            <td colspan="2">{{ trac[45] }}</td>
        </tr>
        <tr>
            <td>Aceite Liquido De Frenos</td>
            <td colspan="2">{{ trac[46] }}</td>
        </tr>
        <tr>
            <td>Filtro De Aceite Motor-Marca/Referencial</td>
            <td colspan="2">{{ trac[47] }}</td>
        </tr>
        <tr>
            <td>Filtro De Combustible-Marca/Referencial</td>
            <td colspan="2">{{ trac[48] }}</td>
        </tr>
        <tr>
            <td>Filtro De Aceite Hidraulico-Marca/Referencial</td>
            <td colspan="2">{{ trac[49] }}</td>
        </tr>
        <tr>
            <td>Filtro De Aire Primario-Marca/Referencial</td>
            <td colspan="2">{{ trac[50] }}</td>
        </tr>
        <tr>
            <td>Filtro De Aire Secundario-Marca/Referencial</td>
            <td colspan="2">{{ trac[51] }}</td>
        </tr>
        <tr>
            <td>Bateria-Marca/Referencial</td>
            <td colspan="2">{{ trac[52] }}</td>
        </tr>
        <tr>
            <td>Numero De Pesas En Las Ruedas Traseras</td>
            <td colspan="2">{{ trac[53] }}</td>
        </tr>
        <tr>
            <td>Numero De Pesas En Las Ruedas Traseras</td>
            <td colspan="2">{{ trac[54] }}</td>
        </tr>
</table>
</div>

<br>
<div class="contenedor-tablas">
    <table class="tabla">
    <thead>
        <tr>
            <th>
                Caracteristicas
            </th>
            <th>
                Fotos
            </th>
            
        </tr>
    </thead>
    <tbody>
        

        <tr>
            <td>Drenaje de agua sistema de Combustible</td>
            <td><img class="img-thumbnail" width="40" height="40" src="../../uploads/{{ trac[55] }}" ></td>
        </tr> 
        <tr>
            <td>bateria</td>
            <td><img class="img-thumbnail" width="40" height="40" src="../../uploads/{{ trac[56] }}" ></td>
        </tr>
        <tr>
            <td>filtro aceite de motor</td>
            <td><img class="img-thumbnail" width="40" height="40" src="../../uploads/{{ trac[57] }}" ></td>
        </tr>
        
        <tr>
            <td>filtro de aire</td>
            <td><img class="img-thumbnail" width="40" height="40" src="../../uploads/{{ trac[58] }}" ></td>
        </tr>
        <!-- ... -->
        <tr>
            <td>filtro de aceite Hidraulico</td>
            <td><img class="img-thumbnail" width="40" height="40" src="../../uploads/{{ trac[59] }}" ></td>
        </tr>
        <tr>
            <td>filtro de Combustible</td>
            <td><img class="img-thumbnail" width="40" height="40" src="../../uploads/{{ trac[60] }}" ></td>
        </tr>   
        <tr>
            <td>tractor</td>
            <td><img class="img-thumbnail" width="40" height="40" src="../../uploads/{{ trac[61] }}" ></td>
        </tr> 

        <!-- {% endfor %} -->
            </tbody>
        </table>
</div>

    <button>
        <a href="/agregar/{{ trac[0] }}">Actualizar Tractor</a>
    </button>

    </main>

</body>

</html>