<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../../static/css/tractorDG.css">
        <link rel="shortcut icon" href="../../../static/img/logoSena.png" type="image/x-icon">
        <link rel="stylesheet" href="https://cdn.lineicons.com/4.0/lineicons.css"/>
        <link rel="stylesheet" href="../../../static/css/header.css">
        <script src="../../../static/js/menu.js"></script>
        <title>Tractor</title> 
    </head>
    <body>
        <header id="header">
            <div id="contenedortitulo">
                <figure id="header_logo">
                    <img src="../../../static/img/LogoSenaSinFondo.png" alt="Logo Sena" id="logo_sena">
                </figure>
                <div id="rayita">
                </div>
                <div id="contenidotitulo">
                    <h2 id="titulo">Tractores</h2>
                    <div id="contenidonombre">
                        <h4>{{nombreusu}}</h4>
                        {% if rolusu == 'Trabajador'%}
                            <h4>Trabajador de Planta</h4>
                        {% elif rolusu == 'Admin'%}
                            <h4>Administrador</h4>
                        {% else %}
                            <h4>{{rolusu}}</h4>
                        {% endif %}
                    </div>
                </div>
            </div>
        
            <button id="cont-disparador">
                <i class="lni lni-menu" id="disparador"></i>
            </button>
        
            <div id="menu_cont">
                <button id="cont-close">
                    <i class="lni lni-close" id="close"></i>
                </button>
        
                <div class="menu">
                    <ul class="interior" id="menu_ppal">
                        <li>
                            <a href="#" class="btn-n01" id="btn_servicios">PRÉSTAMOS</a>
                            <ul id="menu_servicios" class="menu-n02">
                                <li><a href="/consultarTodosPedidos" class="btn-n02">TODOS LOS PRÉSTAMOS</a></li>
                                <li><a href="/consultarSolicitados" class="btn-n02">SOLICITUDES</a></li>
                                <li><a href="/consultarAceptado" class="btn-n02">POR ENTREGAR</a></li>
                                <li><a href="/consultarprestados" class="btn-n02">PRESTADOS</a></li>
                                <li><a href="/consultarDevueltos" class="btn-n02">DEVUELTOS</a></li>
                                <li><a href="/consultarRechazados" class="btn-n02">RECHAZADOS</a></li>
                            </ul>
                        </li>
                        
                        <li>
                            <a href="#" class="btn-n01" id="btn_tractores">TRACTORES</a>
                            <ul id="menu_tractores" class="menu-n02">
                                <li><a href="/agregarTractor" class="btn-n02">AGREGAR TRACTOR</a></li>
                                <li><a href="/tractores" class="btn-n02">TRACTORES DISPONIBLES</a></li>
                                <li><a href="/consultarTractores" class="btn-n02">TODOS LOS TRACTORES</a></li>
                            </ul>
                        </li>
                        
                        <li>
                            <a href="#" class="btn-n01" id="btn_herramienta">HERRAMIENTAS</a>
                            <ul id="menu_herramienta" class="menu-n02">
                                <li><a href="/agregarHerramienta" class="btn-n02">AGREGAR HERRAMIENTA</a></li>
                                <li><a href="/consultarHerramientas" class="btn-n02">HERRAMIENTAS DISPONIBLES</a></li>
                                <li><a href="/consultarlasHerramientas" class="btn-n02">TODAS LAS HERRAMIENTAS</a></li>
                            </ul>
                        </li>
                        
                        <li>
                            <a href="#" class="btn-n01" id="btn_insumo">INSUMOS</a>
                            <ul id="menu_insumo" class="menu-n02">
                                <li><a href="/agregarConsumibles" class="btn-n02">AGREGAR INSUMOS</a></li>
                                <li><a href="/consultarConsumibles" class="btn-n02">INSUMOS DISPONIBLES</a></li>
                                <li><a href="/consultarlosConsumibles" class="btn-n02">TODOS LOS INSUMOS</a></li>
                                <li>
                                    <a href="#" class="btn-n01" id="btn_liquido">LÍQUIDOS</a>
                                    <ul id="menu_liquidos" class="menu-n02">
                                        <li><a href="/agregarLiquidos" class="btn-n02">AGREGAR LÍQUIDO</a></li>
                                        <li><a href="/consultarLiquidos" class="btn-n02">LÍQUIDOS DISPONIBLES</a></li>
                                        <li><a href="/consultarlosLiquidos" class="btn-n02">TODOS LOS LÍQUIDOS</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        
                        
                        <hr>
        
                        <li>
                            <a href="#" class="btn-n01" id="btn_usuarios">USUARIOS</a>
                            <ul id="menu_usuarios" class="menu-n02">
                                <li><a href="/aceptarUsuarios" class="btn-n02">ACEPTAR USUARIOS</a></li>
                                <li><a href="/usuarios" class="btn-n02">PERSONAS REGISTRADAS</a></li>
                            </ul>
                        </li>
                        
                        <li><a href="/novedades" class="btn-n02">NOVEDADES</a></li>
                        
                        <li>
                            <a href="#" class="btn-n01" id="btn_categoria">CATEGORÍAS</a>
                            <ul id="menu_categorias" class="menu-n02">
                                <li><a href="/agregarCategoria" class="btn-n02">AGREGAR CATEGORÍAS</a></li>
                                <li><a href="/consultarCategorias" class="btn-n02">CATEGORÍAS REGISTRADAS</a></li>
                            </ul>
                        </li>
                        
                        <li><a href="/graficos" class="btn-n01">GRÁFICOS</a></li>
                        <hr>
                        <li><a href="/perfilPropio" class="btn-n02">Mi Perfil</a></li>
                        <li><a href="/panel" class="btn-n02">Inicio</a></li>
                        <li><a href="/" class="btn-n01">Cerrar Sesión</a></li>
                    </ul>
                </div>
            </div>
        </header>

        <section class="formulario">
            <form class="formulario-hoja" action="/agregarHojaD" method="post">
                <h2>Digitación de la hoja de vida</h2>

                <input type="hidden" name="idObjetos" value="{{res[0]}}">

                <div class="campo">
                    <label for="aceitemotor">Aceite Motor</label>
                    <input type="text" name="aceitemotor" id="aceitemotor" required>
                </div>

                <div class="campo">
                    <label for="aceitehidraulico">Aceite Hidráulico</label>
                    <input type="text" name="aceitehidraulico" id="aceitehidraulico" required>
                </div>

                <div class="campo">
                    <label for="aceitetransmision">Aceite Transmisión</label>
                    <input type="text" name="aceitetransmision" id="aceitetransmision" required>
                </div>

                <div class="campo">
                    <label for="aceiteddd">Aceite de Diferencial Delantero</label>
                    <input type="text" name="aceiteddd" id="aceiteddd" required>
                </div>

                <div class="campo">
                    <label for="aceiteldf">Aceite Líquido de Frenos</label>
                    <input type="text" name="aceiteldf" id="aceiteldf" required>
                </div>

                <div class="campo">
                    <label for="filtrodammr">Filtro de Aceite Motor - Marca/Referencia</label>
                    <input type="text" name="filtrodammr" id="filtrodammr" required>
                </div>

                <div class="campo">
                    <label for="filtrodcmr">Filtro de Combustible - Marca/Referencia</label>
                    <input type="text" name="filtrodcmr" id="filtrodcmr" required>
                </div>

                <div class="campo">
                    <label for="filtrodahmr">Filtro de Aceite Hidráulico - Marca/Referencia</label>
                    <input type="text" name="filtrodahmr" id="filtrodahmr" required>
                </div>

                <div class="campo">
                    <label for="filtrodapmr">Filtro de Aire Primario - Marca/Referencia</label>
                    <input type="text" name="filtrodapmr" id="filtrodapmr" required>
                </div>

                <div class="campo">
                    <label for="filtrodasmr">Filtro de Aire Secundario - Marca/Referencia</label>
                    <input type="text" name="filtrodasmr" id="filtrodasmr" required>
                </div>

                <div class="campo">
                    <label for="bateriamr">Batería - Marca/Referencia</label>
                    <input type="text" name="bateriamr" id="bateriamr" required>
                </div>

                <div class="campo">
                    <label for="numerodpelrta">Número de Pesas en las Ruedas Traseras</label>
                    <input type="text" name="numerodpelrta" id="numerodpelrta" required>
                </div>

                <div class="campo">
                    <label for="numerodpelrt">Número de Pesas en las Ruedas Traseras</label>
                    <input type="text" name="numerodpelrt" id="numerodpelrt" required>
                </div>

                <div class="campo">
                    <button type="submit">Guardar</button>
                </div>
            </form>
        </section>
    </body>
</html>
