<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/css/tractorDG.css">
    <title>Document</title>
</head>
<body>
    <section class="formulario">
        <form class="formulario-hoja" action="/agregarHojaD" method="post">
            <h2>digita la hoja de vida</h2>

            <input type="hidden" name="idObjetos" value="{{res[0]}}">


            <div class="campo">
                <label for="aceitemotor">Aceite Motor</label>
                <input type="text" name="aceitemotor" id="aceitemotor" required>
            </div>

            <div class="campo">
                <label for="aceitehidraulico">Aceite Hidraulico</label>
                <input type="text" name="aceitehidraulico" id="aceitehidraulico" required>
            </div>

            <div class="campo">
                <label for="aceitetransmision">Aceite Transmision</label>
                <input type="text" name="aceitetransmision" id="aceitetransmision" required>
            </div>

            <div class="campo">
                <label for="aceiteddd">Aceite De Diferencial Delantera</label>
                <input type="text" name="aceiteddd" id="aceiteddd" required>
            </div>

            <div class="campo">
                <label for="aceiteldf">Aceite Liquido De Frenos</label>
                <input type="text" name="aceiteldf" id="aceiteldf" required>
            </div>

            <div class="campo">
                <label for="filtrodammr">Filtro De Aceite Motor-Marca/Referencial</label>
                <input type="text" name="filtrodammr" id="filtrodammr" required>
            </div>

            <div class="campo">
                <label for="filtrodcmr">Filtro De Combustible-Marca/Referencial</label>
                <input type="text" name="filtrodcmr" id="filtrodcmr" required>
            </div>

            <div class="campo">
                <label for="filtrodahmr">Filtro De Aceite Hidraulico-Marca/Referencial</label>
                <input type="text" name="filtrodahmr" id="filtrodahmr" required>
            </div>

            <div class="campo">
                <label for="filtrodapmr">Filtro De Aire Primario-Marca/Referencial</label>
                <input type="text" name="filtrodapmr" id="filtrodapmr" required>
            </div>

            <div class="campo">
                <label for="filtrodasmr">Filtro De Aire Secundario-Marca/Referencial</label>
                <input type="text" name="filtrodasmr" id="filtrodasmr" required>
            </div>

            <div class="campo">
                <label for="bateriamr">Bateria-Marca/Referencial</label>
                <input type="text" name="bateriamr" id="bateriamr" required>
            </div>

            <div class="campo">
                <label for="numerodpelrta">Numero De Pesas En Las Ruedas Traseras</label>
                <input type="text" name="numerodpelrta" id="numerodpelrta" required>
            </div>

            <div class="campo">
                <label for="numerodpelrt">Numero De Pesas En Las Ruedas Traseras</label>
                <input type="text" name="numerodpelrt" id="numerodpelrt" required>
            </div>

            <div class="campo">
                <button type="submit">Siguiente</button>
            </div>
        </form>
    </section>
</body>
</html>
