<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GRAFICOS || TRC-CONS</title>
    <link rel="stylesheet" href="../../../static/css/graficos.css">
    <link rel="stylesheet" href="../../../static/css/header.css">
    <link rel="stylesheet" href="https://cdn.lineicons.com/4.0/lineicons.css" />
    <link rel="shortcut icon" href="../../../static/img/logoSena.png" type="image/x-icon">
    <script src="../../../static/js/menu.js"></script>
    <script src="../../../static/js/modal.js"></script>
</head>

<body>

    <header id="header">

        <div id="contenedortitulo">
            <figure id="header_logo">
                <img src="../../../static/img/LogoSenaSinFondo.png" alt="Logo Sena" id="logo_sena">
            </figure>
            <div id="rayita">
            </div>
            <div id="contenidotitulo">
                <h2 id="titulo">Graficos</h2>
                <div id="contenidonombre">
                    <h4>{{nombreusu}}</h4>
                    {% if rolusu == 'Trabajador'%}
                        <h4>Trabajador de Planta</h4>
                    {% elif rolusu == 'Admin'%}
                        <h4>Administrador</h4>
                    {% else %}
                        <h4>{{rolusu}}</h4>
                    {% endif %}
                </div>
            </div>
        </div>
    
    
        <button id="cont-disparador">
            <i class="lni lni-menu" id="disparador"></i>
        </button>
    
        <div id="menu_cont">
        
            <button id="cont-close">
                <i class="lni lni-close" id="close"></i>
            </button>
    
            <div class="menu">
                <ul class="interior" id="menu_ppal">
    
                    <li>
                        <a href="#" class="btn-n01" id="btn_servicios">PRÉSTAMOS</a>
                        <ul id="menu_servicios" class="menu-n02">
                            <li><a href="/consultarTodosPedidos" class="btn-n02">TODOS LOS PRÉSTAMOS</a></li>
                            <li><a href="/consultarSolicitados" class="btn-n02">SOLICITUDES</a></li>
                            <li><a href="/consultarAceptado" class="btn-n02">POR ENTREGAR</a></li>
                            <li><a href="/consultarprestados" class="btn-n02">PRESTADOS</a></li>
                            <li><a href="/consultarDevueltos" class="btn-n02">DEVUELTOS</a></li>
                            <li><a href="/consultarRechazados" class="btn-n02">RECHAZADOS</a></li>
                        </ul>
                    </li>
                    
                    <li>
                        <a href="#" class="btn-n01" id="btn_tractores">TRACTORES</a>
                        <ul id="menu_tractores" class="menu-n02">
                            <li><a href="/agregarTractor" class="btn-n02">AGREGAR TRACTOR</a></li>
                            <li><a href="/tractores" class="btn-n02">TRACTORES DISPONIBLES</a></li>
                            <li><a href="/consultarTractores" class="btn-n02">TODOS LOS TRACTORES</a></li>
                        </ul>
                    </li>
                    
                    <li>
                        <a href="#" class="btn-n01" id="btn_herramienta">HERRAMIENTAS</a>
                        <ul id="menu_herramienta" class="menu-n02">
                            <li><a href="/agregarHerramienta" class="btn-n02">AGREGAR HERRAMIENTA</a></li>
                            <li><a href="/consultarHerramientas" class="btn-n02">HERRAMIENTAS DISPONIBLES</a></li>
                            <li><a href="/consultarlasHerramientas" class="btn-n02">TODAS LAS HERRAMIENTAS</a></li>
                        </ul>
                    </li>
                    
                    <li>
                        <a href="#" class="btn-n01" id="btn_insumo">INSUMOS</a>
                        <ul id="menu_insumo" class="menu-n02">
                            <li><a href="/agregarConsumibles" class="btn-n02">AGREGAR INSUMOS</a></li>
                            <li><a href="/consultarConsumibles" class="btn-n02">INSUMOS DISPONIBLES</a></li>
                            <li><a href="/consultarlosConsumibles" class="btn-n02">TODOS LOS INSUMOS</a></li>
                            <li>
                                <a href="#" class="btn-n01" id="btn_liquido">LÍQUIDOS</a>
                                <ul id="menu_liquidos" class="menu-n02">
                                    <li><a href="/agregarLiquidos" class="btn-n02">AGREGAR LÍQUIDO</a></li>
                                    <li><a href="/consultarLiquidos" class="btn-n02">LÍQUIDOS DISPONIBLES</a></li>
                                    <li><a href="/consultarlosLiquidos" class="btn-n02">TODOS LOS LÍQUIDOS</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    
                    
                    <hr>
    
                    <li>
                        <a href="#" class="btn-n01" id="btn_usuarios">USUARIOS</a>
                        <ul id="menu_usuarios" class="menu-n02">
                            <li><a href="/aceptarUsuarios" class="btn-n02">ACEPTAR USUARIOS</a></li>
                            <li><a href="/usuarios" class="btn-n02">PERSONAS REGISTRADAS</a></li>
                        </ul>
                    </li>
                    
                    <li><a href="/novedades" class="btn-n02">NOVEDADES</a></li>
                    
                    <li>
                        <a href="#" class="btn-n01" id="btn_categoria">CATEGORÍAS</a>
                        <ul id="menu_categorias" class="menu-n02">
                            <li><a href="/agregarCategoria" class="btn-n02">AGREGAR CATEGORÍAS</a></li>
                            <li><a href="/consultarCategorias" class="btn-n02">CATEGORÍAS REGISTRADAS</a></li>
                        </ul>
                    </li>
                    
                    <li><a href="/graficos" class="btn-n01">GRÁFICOS</a></li>
                    <hr>
                    <li><a href="/perfilPropio" class="btn-n02">Mi Perfil</a></li>
                    <li><a href="/panel" class="btn-n02">Inicio</a></li>
                    <li><a href="/" class="btn-n01">Cerrar Sesión</a></li>
                    
    
                </ul>
            </div>
        </div>
    </header>

    <main id="cuerpoo">
            <form id="formu" action="envioConsuPez" method="post" enctype="multipart/form-data">
                <div id="cont_medio">
                    <div id="botones">

                        <a class="botongra" href="/grafConsu">Liquidos</a>
            
                        <a class="botongra" href="/grafTrac">Tractores</a>
            
                    </div>
                    <div id="imgrafico">
                        {% if img_base64 %}
                        <img class="imgra" src="data:image/png;base64,{{ img_base64 }}" alt="Gráfico">
                        {% endif %}
                    </div>
                </div>
                <label for="correoSub">Ingresa el correo para envío del informe de solicitud de combustible:</label>
                <input type="email" name="correoSub" id="correoSub"
                    pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" minlength="7" maxlength="50" required placeholder="Email para petición de combustible">

                <button type="submit" id="btngrafico">Enviar</button>

                <div id="telonCarga">
                    <div class="cargando" id="cargando"></div>
                    <i class="lni lni-checkmark-circle" id="checkmark" style="display: none; color: #39A900; font-size: 100px;"></i>
                    <p class="mensaje" id="mensaje">Enviando Correo...</p>
                </div>

            </form>
    </main>

</body>

</html>